[2019-11-08 06:49] MarcusNoble opened #3 "Change namespace used"
It'd be good if this didn't use the `default` namespace.

I had first thought it would be good to just remove the namespace entirely from the YAML manifest (see #2) but it is required for the ClusterRoleBinding so I think it might make more sense to change the namespace to something more appropriate.
My suggestion would either be default it to `kube-system` or have it create a `aws-node-terminatio

[2019-11-08 06:50] MarcusNoble opened #4 "Spot nodes not labeled as such"
I'm not seeing the `lifecycle: Ec2Spot` label associated with my nodes running on spot instances. Is there something in addition to this project that needs to run for this label to appear?

Running EKS 1.14, all nodes running on spot instances.

[2019-11-08 07:03] mattrandallbecker commented on #4
Good catch, it appears we missed instructions on how to label your nodes.  We'll update the documentation.

In the meantime you can add labels to your nodes via:
kubectl label nodes <your-node-name> lifecycle=Ec2Spot

[2019-11-08 07:05] MarcusNoble commented on #4
This would only be valid until a node is terminated and another replaces it though, right?

[2019-11-08 07:37] mattrandallbecker commented on #4
Correct, using eksctl you can add nodegroups labels and using kops you can add instancegroup nodelabels to automatically add the labels to instances as they are provisioned.  We'll provide more comprehensive documentation shortly, thank you for your patience.

[2019-11-08 07:41] MarcusNoble commented on #4
Ah! We're using Terraform to scaffold up our EKS clusters so that doesn't help. 😞

[2019-11-08 07:43] mattrandallbecker commented on #4
found this example of node labels being applied to EKS via terraform, not sure if your setup is similar, let me know if this helps:
https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/examples/spot_instances/main.tf#L66

[2019-11-08 07:44] MarcusNoble commented on #4
Yeah, that does help I think. I'll give it a try 😄 Thanks!

[2019-11-08 07:53] jhedev opened #5 "Slack notification support"
We are running several EKS clusters on spot instances. So far we are using https://github.com/kube-aws/kube-spot-termination-notice-handler to handle node termination but would love to switch to this project.

However, we need support for slack notifications.

/cc @ecktom

[2019-11-08 08:15] MarcusNoble commented on #4
The `--node-labels=kubernetes.io/lifecycle=spot` will work fine for normal ASGs but won't be useable for mixed instance type ASGs. It's a shame the AWS Instance Metadata doesn't inform on the instance lifecycle being used. 😞

Do you know if there would be any adverse effects to me running this on all nodes (not just spot) by removing the `nodeSelector`?

[2019-11-08 10:55] RobertoUa opened #7 "Create Helm Chart"

[2019-11-08 13:58] rparsonsbb opened #8 "Support windows spot instances"
Looks like the current daemonset and image is only for linux, is there a plan on the roadmap to support windows spot instances or should a pull request be made?

[2019-11-08 14:40] bwagner5 commented on #4
There shouldn't be any issue running this on all nodes (both spot and on-demand). The handler will simply monitor metadata, but never be interrupted when running on an on-demand node.

[2019-11-08 14:50] MarcusNoble commented on #4
I'm thinking I may recommend that to our teams that are running mixed instances then 🙂

[2019-11-08 15:56] mattrandallbecker commented on #8
We'll definitely investigate windows support.  We'll do some testing and get back to you.

[2019-11-08 16:00] bwagner5 commented on #4
We removed the node selector in `node-termination-handler.yaml` so that by default we'll run on all nodes. For a serious deployment we'd still recommend to constrain the nodes to just spot by adding a Node Selector. We'll be updating the documentation on how to do that and try to make the process as easy as possible.

**Commit removing node selector:** https://github.com/aws/aws-node-termination-h

[2019-11-08 17:06] nlowe commented on #3
Another vote for `kube-system` here as that's where `aws-node` lives (if you're using it).

[2019-11-08 17:19] mattrandallbecker commented on #7
We'll work on adding this, thank you for the suggestion.

[2019-11-08 17:49] dharmab opened #9 "How does this compare to the similar kube-aws project?"
We're currently using https://github.com/kube-aws/kube-spot-termination-notice-handler. What are the differences between this project and that one? Are there reasons to use one over the other, either for techincal or community reasons?

[2019-11-08 18:37] christopherhein opened #10 "Tighten Default RBAC Rules"
First, great work on this! It seems like the RBAC could be paired down to a much tighter set of controls.

It looks like these have some overlapping rules, namely having `apiGroups: "", resources: "*"verbs: "*"` as well as all the rest of the declarations. I also wouldn't have `apiGroups: rbac.authorization.k8s.io, resources: "*", verbs: "*"`

[code]

[2019-11-08 19:27] bwagner5 commented on #3
agreed! alb-ingress-controller also lives in kube-system. I'll work on updating. Thanks!

[2019-11-08 20:04] mattrandallbecker commented on #9
I would say they are very similar in purpose.

The other project has more configuration options and the ability to send notifications.

In our project we intentionally wanted to avoid taking a dependency on kubectl and provide a small container footprint, as a result our implementation ended up being quite different.

I'd encourage you to use the one that best meets the needs of your organization.

[2019-11-08 20:04] #9 closed

[2019-11-08 20:49] bwagner5 commented on #3
changed the namespace to kube-system https://github.com/aws/aws-node-termination-handler/commit/77a1e36a243f4a236f1039813a6ddd23b10897eb

[2019-11-09 01:32] bwagner5 commented on #3
had to revert the commit since the build was failing (seemed to work locally), but I'll take a look at it soon and get that namespace change updated.

[2019-11-09 02:24] bazimov commented on #4
We use https://github.com/kube-aws/kube-spot-termination-notice-handler, we pass extra arguments to ec2 userdata bootstrap script.

[2019-11-11 06:11] MarcusNoble commented on #3
@bwagner5 I think the problem is the `ServiceAccount` doesn't have the namespace specified on it so will use whatever is the currently selected namespace while everything else uses `kube-system`.

See here: https://github.com/aws/aws-node-termination-handler/commit/77a1e36a243f4a236f1039813a6ddd23b10897eb#diff-52e4426571ca56bdf1517b4e6aa174fdL37-L42

[2019-11-11 08:03] hrzbrg opened #11 "Provide dry-run mode"
**Is your feature request related to a problem? Please describe.**
I would like to compare `aws-node-termination-handler` with our current approach of listening to the CloudWatch event in terms of timing.

**Describe the solution you would like**
The application should take a `--dry-run` flag that will disable the actual execution of the draining but still print the log messages. During startup it

[2019-11-11 12:51] jaypipes commented on #3
Yep, `kube-system` is the appropriate namespace, I think. @MarcusNoble is correct in identifying the source of the failure you're seeing, @bwagner5.

[2019-11-11 14:25] mattrandallbecker commented on #5
Was thinking about this one and I think we'll try to provide a generic webhook solution similar to the one provided by GIthub.  I'll keep this thread updated as we make progress, thanks for the suggestion!

[2019-11-11 15:02] mattrandallbecker commented on #11
Great suggestion, I think the ability to run the daemonset in effectively debug mode makes sense.

Also for some history we did explore listening to the CloudWatch event as a possible avenue for the handler but it required additional infrastructure setup and some minor additional cost to your AWS account.  We are exploring adding some additional flags and we'll try to address this at the same time

[2019-11-11 19:16] jillmon commented on #10
I've looked into this and run some tests removing the following duplicate rule:
[code]
Removing this rule results in a bunch of errors.

`
[cannot delete daemonsets.apps "node-termination-handler" is forbidden: User "system:serviceaccount:default:node-termination-handler" cannot get resource "daemonsets" in API group "apps" in the namespace "default": default/node-termination-handler-j4mjp, cannot

[2019-11-11 22:44] christopherhein commented on #10
More important than the `daemonsets` would be `create` on `crds`, and doesn't:

[code]

And

[code]

[2019-11-12 21:34] #3 closed

[2019-11-13 15:08] msusta commented on #9
@mattrandallbecker I'd maybe recommend putting a note about the difference / reasoning for a new project somewhere on the front page or in the FAQ. This was exactly my first question when I saw the announcement.

From what I have seen there are following projects:
- https://github.com/kube-aws/kube-spot-termination-notice-handler
- https://github.com/pusher/k8s-spot-termination-handler

[2019-11-13 15:48] mattrandallbecker commented on #9
Thank you for the comment.  I'll see if I can put together a statement that outlines our motivations and add it to the readme.  In the meantime I'll try to share a bit more here.

We received feedback from our customers they had hesitation using an "unofficial" spot handler, and some of the other projects would not meet our requirements that they work with both self-managed Kubernetes and EKS.  We

[2019-11-13 15:53] mattrandallbecker commented on #10
Appreciate the followup, I think we originally misunderstood your valid concerns.  We'll be testing a more restrictive set of permissions to make sure we only have the minimum set required to cordon and drain successfully.

[2019-11-13 17:27] andysnowden commented on #7
IMO the chart should be created here https://github.com/helm/charts with a linkback.  Would be happy to help draft a initial version and submit if that's ok.

[2019-11-13 17:30] max-rocket-internet commented on #7
Here might be better: https://github.com/aws/eks-charts

I think AWS are moving towards this repo. It makes sense as getting new charts committed to the stable main Helm repo, and the PR process, can be quite painful.

[2019-11-13 21:20] aaronmell opened #14 "Expand to include non-spot instances"
We currently use a lambda to drain our instances, would prefer to use this.

[2019-11-13 21:23] aaronmell commented on #14
See https://github.com/aws/containers-roadmap/issues/430

[2019-11-13 21:25] mattrandallbecker commented on #14
Ah yes, thanks for the reference, we are actually aware of that feature request and are hoping to expand this termination handler in the future to do exactly that.  That is why we named it aws-node-termination-handler rather than aws-spot-node-termination-handler.

[2019-11-14 09:58] max-rocket-internet commented on #7
To quote the Helm 3 release yesterday:

[2019-11-14 20:05] #10 closed

[2019-11-18 20:10] bwagner5 commented on #4
^^ more doc updates to use the recently introduced kustomize integration. Now you can override specific parts of the kubernetes resource yaml to add or modify configuration without having to completely roll your own kubernetes resource file and keep it up-to-date with our base. Hope this helps! I'm going to go ahead and close out this issue, but if you think we need more, feel free to reopen and w

[2019-11-18 20:10] #4 closed

[2019-11-18 23:23] rstreics opened #20 "Flags "delete-local-data" & "ignore-daemonsets""
Could please add ability to configure this flags
* --ignore-daemonsets=false: Ignore DaemonSet-managed pods
* --delete-local-data=false: Continue even if there are pods using emptyDir (local data that will be deleted when the node is drained)

[2019-11-18 23:46] bwagner5 commented on #20
Yeah, I think those two args to drain make sense to be configurable.

I'm curious why you would want `--delete-local-data=false`. Is the idea that you want anything using emptyDir to run as long as possible even though they are about to receive a SIGKILL? That's the idea on `--ignore-daemonsets=true` (our default), so that the node can continue to operate while the other pods are gracefully shutti

[2019-11-19 12:44] rstreics commented on #20
Hi, for my personal use-case I need to to `delete-local-data=true` & `ignore-daemonsets=false`.
 I specified feature suggestion defaults from `kubectl`. Regarding spot-instances this `delete-local-data=true` & `ignore-daemonsets=false`default settings, because nodes will shutdown anyway.
I assumed those flag could be configurable.

[2019-11-20 10:24] kivagant-ba commented on #20
Hello. I'm also trying to use the node-termination-handler. That's what I got in logs:

[code]

Am I understand correctly and it does not really helps to drain pods in my case?

[2019-11-20 10:30] kivagant-ba opened #21 "Error getting response from instance metadata"
Hello.

I am trying to test node-termination-handler. It has been running for a couple of weeks and I didn't see anything in logs except two problems. One is described in https://github.com/aws/aws-node-termination-handler/issues/20, another error is:

```Error getting response from instance metadata  Get http://169.254.169.254/latest/meta-data/spot/instance-action: dial tcp 169.254.169.254:80: co

[2019-11-20 11:21] rstreics commented on #20
@kivagant-ba in short this feature request would solve this. If you are using `emptyDir` this tool in current release won't drain the nodes.

[2019-11-20 11:57] dileep-p commented on #21
Same here +1

[2019-11-20 12:25] bwagner5 commented on #20
Yep, hoping to have a PR in this week.

[2019-11-20 14:45] mattrandallbecker commented on #21
Our prevailing theory is a transient network issue causes the connection to be refused at which point the error causes the daemonset pod to restart.  I can see in my personal cluster in about 45 days of running it has happened twice.

We'll make an update to attempt retries on connection issues to prevent the pod from restarting in this failure scenario.  We have integration tests and have tested

[2019-11-20 21:08] m0rganic commented on #5
@mattrandallbecker Should I create a separate issue for integration to Alertmanager or were you thinking that would be included in the scope of the webhook solution?

[2019-11-20 21:25] mattrandallbecker commented on #5
I'm not familiar with Alertmanager notifications specifically, if you want to link me to some documentation I'll take a look.

Ideally my hope was that we could implement a generic notification system that relies on a HTTPS post to a url with an optionally configured secret/api key.  We use Amazon Chime internally at Amazon and I think the proposed system works for that and Slack at a minimum.  On

[2019-11-20 22:09] m0rganic commented on #5
You can find info on the API here https://github.com/prometheus/alertmanager#api ..  prometheus is popular monitoring and timeseries solution for many k8s deployments. I can't see a reason why the solution you are describing wouldn't work with this.

Another challenge we've been facing is getting more metadata on the EC2 instance that is getting terminated. It would be nice to know basic informati

[2019-11-21 09:18] dileep-p commented on #21
We got around 3 restarts in 1 hour and then it becomes stable.

[2019-11-21 21:35] bwagner5 opened #22 "Support IMDSv2"
Support the recently released instance metadata service v2 (https://aws.amazon.com/about-aws/whats-new/2019/11/announcing-updates-amazon-ec2-instance-metadata-service/)

[2019-11-25 17:15] #21 closed

[2019-11-25 19:24] mattrandallbecker commented on #21
Just to follow up on the thread, we've merged a PR that adds retries to the metadata polling, we hope that alleviates the fatals we were seeing before.

If you continue to see issues with the new image please let us know.

[2019-11-25 19:38] bwagner5 commented on #20
I was slightly late on the PR, but it's open now ^^

[2019-11-25 19:42] bwagner5 commented on #20
Also @kivagant-ba and @rstreics I have defaulted `delete-local-data` to `true`. I think that makes the most sense for spot interruptions, since the whole node is about to go down anyways. You could make the case that you're using an EBS volume that can persist but I think the spirit of emptyDir is that it lives with the node and you should be using a Persistent Volume if you want to persist across

[2019-11-25 22:04] jaypipes opened #25 "Need to push git tags for at least v1.0.0 bits"
There are no git tags on the aws/aws-node-termination-handler repository, therefore there are no releases listed. However, there is a Docker *image* tag of v1.0.0 in dockerhub. There should be a corresponding git tag of v1.0.0 as well.

Docker image tags should really be derived from the git tag, making the git history the source of truth for all artifact versioning.

I can work on fixing up the M

[2019-11-25 22:34] #11 closed

[2019-11-25 22:35] #20 closed

[2019-11-25 23:20] bwagner5 commented on #25
I took a crack at this, let me know if this is what you were thinking.

[2019-11-26 11:41] kivagant-ba commented on #20
Thank you, @bwagner5! I will test the change later.

[2019-11-26 16:40] bwagner5 commented on #25
v1.0.0 released via github and automation completed to automatically push to dockerhub

[2019-11-26 16:40] #25 closed

[2019-11-27 19:45] mattrandallbecker opened #29 "Add configurable delay to interruption handling"
Currently the daemonset immediately cordons and drains a node upon ITN detection.

We should allow users to define a period to wait before initializing cordon and drain such that they can still perform work in that window.  e.g. if you can successfully cordon and drain in 30 seconds, delay the process 90 seconds.

[2019-11-27 22:50] johanneswuerbach opened #30 "Handle instance retirement events"
From time to time AWS is retiring EC2 instances due to underlying hardware or software failures https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/monitoring-instances-status-check_sched.html#types-of-scheduled-events

I would be awesome if the aws-node-termination-handler could watch the instance meta data service to react automatically to those events https://docs.aws.amazon.com/AWSEC2/latest/U

[2019-11-27 22:57] mattrandallbecker commented on #30
Yep, definitely within the wheelhouse of this project.  Thanks for the suggestion!

[2019-11-28 14:36] kivagant-ba commented on #20
@bwagner5 Are there any newer images somewhere? I'd like to test the changes but seems like they have not been released yet.

[2019-11-28 16:52] bwagner5 commented on #20
The latest image is published as v1.0.0. You can pull this specific hash if you're caching a local version pulled in the past. `amazon/aws-node-termination-handler:v1.0.0@sha256:b8feb9e33b1dd02961496eb32f473cedd8d33cfd8741a39c412783d603fa30de`

v1.0.0 is now pinned at the github release, so this will never change now.

I tested below to make sure configuration options are in that image:

[code]

[2019-12-02 20:52] jillmon commented on #7
Hello, the helm chart that corresponds to this project has been created and added to the eks repository. It can be found here https://github.com/aws/eks-charts/tree/master/stable/aws-node-termination-handler.

[2019-12-02 20:52] #7 closed

[2019-12-04 22:10] bwagner5 commented on #29
functionality to set a configurable node-termination-grace-period has been merged, probably need some better docs

[2019-12-04 22:11] bwagner5 commented on #29
I'll open a general issue for better docs on configurable values

[2019-12-04 22:11] #29 closed

[2019-12-04 22:16] bwagner5 opened #36 "Better Docs"
As the node-termination-handler includes more features and configurable values, we should have some nice docs.

I would propose https://www.mkdocs.org/ for user docs.

Initial list of some useful sections in the docs:
1) All the different configuration values allowed and some more detail on each
2) Helm configurations
3) Using the node-termination-handler as an on-host binary (not a daemonset) - m

[2019-12-10 22:50] rtripat commented on #14
If you are using EKS, then [EKS Managed node group](https://docs.aws.amazon.com/en_us/eks/latest/userguide/managed-node-groups.html) performs a drain when AutoScalingGroup terminates an instance on scale-in or [rebalancing](https://docs.aws.amazon.com/autoscaling/ec2/userguide/auto-scaling-benefits.html). Does that satisfy the requirements?

[2019-12-11 03:54] aaronmell commented on #14
@rtripat It would if it allowed using a custom AMI built on top of the standard AMI.

[2019-12-11 17:00] bwagner5 commented on #14
We want to take a more generic kubernetes approach to this problem and not rely on a specific service offering. A lot of users are provisioning with kops, cloudformation, terraform, or some hybrid so we're working on a solution that will be plug-and-play for all of those different methods.

[2020-01-03 22:41] mattrandallbecker commented on #36
self reminder to update dockerhub as well when i push my updated documentation

[2020-01-10 22:16] nithu0115 opened #50 "helm3 does not have --name flag"
helm3 does not have --name flag

[2020-01-10 22:26] #50 closed

[2020-01-14 10:06] AmitThakkar opened #53 "Cluster With On-Demand And Spot Instances"
I am creating an EKS cluster with On-Demand and Spot Instances. This module run a pod on on-demand instances as well. There should be a way to run pods only on spot instances.

[2020-01-14 14:46] jillmon commented on #53
You can use the nodeSelector option in the helm chart to target pods to only spot instances by using tags. The nodeSelector is explained in the helm README https://github.com/aws/eks-charts/tree/master/stable/aws-node-termination-handler.

[2020-01-14 14:46] #53 closed

[2020-01-14 16:17] mattrandallbecker commented on #5
I've created a PR to address this here: https://github.com/aws/aws-node-termination-handler/pull/54

Let me know if this doesn't meet any of your needs.  I tested Slack and Chime, it should in theory also work with HipChat/WeChat/etc.

[2020-01-14 17:48] jaypipes opened #56 "Update PULL_REQUEST_TEMPLATE to match other AWS repos"
Currently the GH PR template language contains the following:

"By submitting this pull request, I confirm that you can use, modify, copy, and redistribute this contribution, under the terms of your choice."

This is incorrect, since clearly there isn't a "terms of your choice" component here :) Instead, we should correct this to reference the Apache 2.0 License:

"By submitting this pull request,

[2020-01-14 18:42] #56 closed

[2020-01-15 16:07] barryib commented on #14
@bwagner5 We actually use lambda and SQS queue to handle node termination. We'll love to use this instead.

How can community help on this ? Is there any design or plan ?

- ASG lifecycle hooks + Cloudwatch events ?
- ASG lifecycle hooks + SQS ?
- Something else ?

[2020-01-15 23:17] bwagner5 commented on #14
Hey @barryib !

As mentioned above, we'd like to take an approach that does not require any sort of out-of-band setup, controllers managing AWS resources, or credentials in general. This allows us to support the vast majority of kubernetes setups.

My proposed implementation to accomplish this is to use the acpid socket to catch power button events.  When a power button event is received by aws-no

[2020-01-16 22:19] barryib commented on #14
@bwagner5 Sounds interesting and eager to see your tests results. I think this will probably work for draining, but there we are still missing the node coordination during shutdown.

As you said, people use kops, cloudformation and terraform to provision their cluster. And so far, only cloudformation can handle rolling upgrade. How can we achieve this in terraform by exemple ? Because sending SIGT

[2020-01-18 00:48] bwagner5 commented on #14
I don't think the coordination of node draining belongs in this specific tool.  Coordinating infrastructure deployments will vary drastically depending on deployment strategies (blue/green vs rolling vs in-place patching, etc.). The node-termination-handler could be utilized to perform the drain in each of these cases, but it would be the responsibility of your specific deployment tool to maintain

[2020-01-20 17:10] jaypipes commented on #14
Yeah, I agree with @bwagner5 here regarding the separation of concerns. Tools in a layer above the NTH should decide how to handle rolling node upgrade procedures.

[2020-01-28 00:45] cdaniluk opened #74 "cannot use when restricting access to metadata service"
In order to prevent pods from assuming the IAM role of the node, we restrict access to the metadata service for pods as follows:

[code]

This is recommended in the [AWS EKS documentation](https://docs.aws.amazon.com/eks/latest/userguide/restrict-ec2-credential-access.html) for worker nodes.

When running the termination handler, the following is logged:

[code]

Mostly logging this so that other

[2020-01-28 16:41] mattrandallbecker commented on #74
Definitely makes sense if you block metadata this handler would not work.

Looks like that documentation recommends that you block the entirety of metadata service via a userdata script such that it's not accessible on the host.  You could not use an instance profile and not assign the metadata credentials any permissions. Then you wouldn't need to prevent assuming the role or block metadata.

Alt

[2020-01-30 23:06] bwagner5 commented on #22
Here's some more info on IMDSv2:

https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/

Re:Invent 2019:
https://www.youtube.com/watch?v=2B5bhZzayjI

[2020-01-31 12:51] marcincuber commented on #74
I have the same scenario as @cdaniluk. I think this is a massive issue with this aws-node-termination-handler.

[2020-01-31 15:43] mattrandallbecker commented on #74
@marcincuber

Unless I'm misunderstanding something I'm not sure it makes sense to drop all metadata routes if your instance profile has no permissions.  Similarly, I'm not sure why you would need instance profile permissions if you are blocking metadata as you wouldn't be able to use them.

Is there some use case I'm not seeing? If not, I'll speak with the EKS team about changing their documentat

[2020-01-31 15:54] marcincuber commented on #74
@mattrandallbecker if there are no permissions attached to worker nodes then that is absolutely correct. Bare in mind that the documentation has been written after "IAM roles for service accounts" feature release. So, perhaps there is another use case that I am not seeing as well.

[2020-01-31 19:56] cdaniluk commented on #74
@mattrandallbecker Worker nodes must have an instance profile with at least two managed policies attached. And those managed policies allow you to describe most VPC/EC2 resources, which is certainly not something you'd want all pods to be able to do.

Also, the iptables rules only affect forwarded traffic--effectively, pods only. It would not affect the instance's ability to access its own metadat

[2020-01-31 20:32] mattrandallbecker commented on #74
Yep, totally understand the issue now, I was missing that those managed policies were required and seem to have extensive permissions beyond what is necessary.  We'll update the documentation shortly and investigate alternatives to making this work and hopefully provide either updated setup instructions or change our approach.

[2020-01-31 21:31] mattrandallbecker commented on #74
Updated documentation to mention metadata access is required and we are going to look into ways to limit access to credential paths

https://github.com/aws/aws-node-termination-handler/pull/84

[2020-01-31 21:31] #74 closed

[2020-01-31 22:46] mattrandallbecker commented on #74
ok turns out that resolution was a bit pre-emptive, turns out with host level networking set to true on the pod we still get access to the metadata service so i'll create a pull request to add that to our helm chart then this should still work even if you run the recommended iptables block

default configuration
[code]

hostnetwork: true
[code]

[2020-02-01 08:25] marcincuber commented on #74
@mattrandallbecker thanks for providing the solution.

However, I have an interesting observation to share. I have three EKS cluster, three different accounts and all of them are running the same setup with the same userdata which is blocking access to instance profile data.

On two EKS clusters aws-node-termination-handler works fine, only one cluster which I spinned up few days ago has the node

[2020-02-01 12:23] cdaniluk commented on #74
@marcincuber you sure those nodes just didn't reboot? The way the EKS docs have you set that isn't persistent across reboots.

[2020-02-01 14:15] cdaniluk commented on #74
@mattrandallbecker I had a feeling the control plane would break with that change. Maybe you could use two pods in the daemonset with different networking settings? They would then be able to talk internally. Perhaps a little complicated, though..

I don't see how IMDSv2 will help with this issue, though. The endpoint isn't authenticated per say, it's just session based. Any pod running on the ins

[2020-02-01 14:17] marcincuber commented on #74
@cdaniluk I tested it with a new instance which has correct userdata, no reboot and it still works on some of my clusters.

[2020-02-01 14:25] mattrandallbecker commented on #74
Yep, the preliminary PR that I made just to change the hostNetwork: true broke all our integration tests because it could no longer route to the in cluster service we were standing up to mock metadata.  So it stands to reason we also would have problems issuing the cordon and drain commands.

I definitely didn't fully understand the problem with my first recommendation, in fact IMDSv2 doesn't work

[2020-02-04 15:49] mattrandallbecker commented on #5
resolved with release 1.2.0 https://github.com/aws/aws-node-termination-handler/releases/tag/v1.2.0

[2020-02-04 15:49] #5 closed

[2020-02-04 15:50] mattrandallbecker commented on #74
Closing the loop on this thread, with our new 1.2.0 release we have the daemonset set to run on hostnetwork, the handler should now work even when following the EKS documentation starting with that version.

[2020-02-04 15:51] mattrandallbecker commented on #30
resolved with 1.2.0 release

https://github.com/aws/aws-node-termination-handler/releases/tag/v1.2.0

keep in mind this feature is off by default for this release but can be enabled via the helm flag outlined in the readme

[2020-02-04 15:51] #30 closed

[2020-02-04 15:52] mattrandallbecker commented on #36
never ending task, but just pushed an updated readme that meets the spirit of this task.  will evaluate what other updates are needed in the future as needed.

[2020-02-04 15:52] #36 closed

[2020-02-06 19:01] bwagner5 opened #93 "Provide k8s yaml resource files in addition to helm chart"
Some users would rather use the Kubernetes resource yaml files directly rather than installing via helm charts. This presents a problem with synchronizing the resource files and the helm chart.

We already store a local copy of the helm chart in this repo and the distributed copy in the github.com/aws/eks-charts repo. The synchronization between these two locations is done manually but enforced vi

[2020-02-10 23:39] bwagner5 commented on #22
the code to support IMDSv2 has been merged, but I'll wait to close this issue until the release has been pushed.

[2020-02-13 21:06] tbarrella opened #94 "More DrainEvent metadata to potentially use in the webhook template"
Hello, thank you for open sourcing this, it seems to be working well!

I noticed that the webhook template allows you to use fields from the associated DrainEvent. It would be helpful if more fields were available, like node name, instance type, and potentially instance id. It seems like these could all come from the Node object

[2020-02-13 21:10] bwagner5 commented on #94
Thanks for requesting this feature! I agree that it would be useful to add more context for the webhooks. We'll look into adding this functionality!

[2020-02-14 15:24] spolspol opened #95 "Provide handling for ASG 'rebalance' events"
**Background:**

We run EKS cluster on SPOT instances managed behind an ASG with K8S _cluster-autoscaler_.
This is pretty obvious use case for SPOTs, leveraging Kubernetes self-healing and self-regulating features and elasticity provided by ASG.

With around 9-12 instances, we often get intensive SPOT rotation events, where we loose multiple SPOTs within 10-20 mins - sometimes as much as half the

[2020-02-14 15:40] spolspol commented on #14
There are circumstance where otherwise 'separate' termination events are coupled by common cause.

Like in my use case (see link) where major portion of ASG managed SPOTs is terminated
and replaced in a short space of time they often come unbalanced across AZs. ASG rebalancing event soon follows and is not handled gracefully.

Looking at 4 months worth of data since we started using this setup - r

[2020-02-14 16:22] spolspol commented on #95
In above use case scenario we have THREE common termination events.

1) ASG scaling DOWN - node draining handled by _**cluster-autoscaler**_
2) SPOT instance termination - node draining handled by _**aws-node-tyerination-handler**_
3) ASG AZ rebalancing - **not handled**

[2020-02-15 17:53] bwagner5 commented on #14
@spolspol sounds like the planned functionality of draining on any instance shutdown would handle the out-of-band rebalance events as well as any other events that are outside of normal shutdown events where prior notification is not given (i.e. operator terminates from console or API). We're hoping to get this functionality released soon!  Let me know if you think the solution we're pursuing is m

[2020-02-15 17:56] bwagner5 commented on #95
This is a good supporting issue for handling of generic shutdown events. I've commented on the referenced issue https://github.com/aws/aws-node-termination-handler/issues/14, but basically I believe the ACPI power button event triggering a cordon by aws-node-termination-handler would solve this issue as well as the generic class of out-of-band terminations without prior notice.

[2020-02-18 07:28] dayyehm opened #99 "question"
The documentation states it will cordon the node and drain it.  Does it do that on its' own and how does that play with the existing auto scaling group and the lifecycle hooks we have configured for drains?  We watch to make sure certain daemonsets/deploy/pods have been terminated before continuing etc.

[2020-02-18 13:13] bwagner5 commented on #99
aws-node-termination-handler runs as a daemonset on all nodes and will automatically cordon the node and drain the pods off the node when it gets a Spot ITN or scheduled maintenance event. This should not interfere with your ASG lifecycle hooks except that the nodes will most likely already be drained from the aws-node-termination-handler.

[2020-02-18 13:15] dayyehm commented on #99
Thank you

[2020-02-18 13:15] #99 closed

[2020-02-18 15:40] mattrandallbecker opened #100 "Non-Helm install files still include helm annotations"
When "helm template" is used to generate the plain yaml files the helm specific labels are left on the resources.  The build step should remove lines like the bolded below after generation.

Example annotation labels
**helm.sh/chart: aws-node-termination-handler-0.5.0**
**app.kubernetes.io/managed-by: Helm**

Example yaml from 1.2.0 release
[code]

[2020-02-18 15:56] jaypipes commented on #100
Hmm, yeah, good catch Matthew.

[2020-02-18 16:23] #93 closed

[2020-02-24 19:57] mattrandallbecker commented on #100
this should be fixed in all future releases with the PR merged above

[2020-02-24 19:57] #100 closed

[2020-02-25 17:27] daktari opened #102 "Support other schedulers like Hashicorp Nomad"
It would be great that this service supports other schedulers like Hashicorp Nomad or Mesos.

Something like this:

`/node-termination-handler --type nomad/k8s/mesos...`

BR

[2020-02-25 19:31] bwagner5 commented on #102
I'm not sure how the scheduler would affect the node-termination-handler. Can you elaborate more?

[2020-02-25 19:43] bwagner5 commented on #102
ah so I think I understand more now... You'd like for aws-node-termination-handler to call back to the nomad/mesos control planes to do their version of cordon and drain process.

[2020-02-25 21:33] daktari commented on #102
Yes! Sorry for the bad description. This probably allows that many different AWS users can collaborate to improve this service. Maybe in other repo?

We are not k8s users and we are thinking about develop a very similar service like this  one to drain our nodes.

BR

[2020-02-25 22:45] imuqtadir commented on #102
+1

We could use this for SLURM scheduler.

[2020-02-25 22:50] bwagner5 commented on #102
I'm curious how far, if any, the current webhook functionality could get you wrt integration with other control planes? The webhook functionality in aws-node-termination-handler is pretty customizable in terms of the headers to pass and the body can be templated. Just wanted to throw out this idea.

[2020-02-25 23:25] daktari commented on #102
Yes, webhooks could be useful for many situations but we are thinking about draining a node, check node drainig status (with a blocking query or similar) anf gracefuly leave nomad cluster for example in a spot instance termination situation. With webhooks I have to implement an API that makes those simple draining steps afrer webhook call.

I am talking about make aws-note-termination-handler comp

[2020-02-25 23:41] bwagner5 commented on #102
@daktari completely understand. The only reason I brought up webhooks is that this feature request would be a significant change to the codebase and was curious if other solutions could be helpful in the near term.

For example, you could easily implement an arbitrary script execution by starting up a tiny http api and have the webhook hit that API and then execute a script to perform the control

[2020-02-26 10:45] spolspol commented on #14
@bwagner5 would you guys have any ETA on release for this feature?

[2020-02-26 19:31] jillmon commented on #14
Hello, we're currently working on this feature and expect to be complete in a few weeks. We want to make sure that it is adequately stress tested internally before releasing to the public.

[2020-03-02 19:26] gavinbunney opened #104 "Missing DrainEvent metadata for SpotITN"
The spot instance termination notice endpoint is only populating the timestamp of the event in the `DrainEvent` struct.

You can see this in the logs:
[code]

The documentation for the notice API also only indicates a `time` is returned: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-interruptions.html#instance-action-metadata

Can you confirm that this is working as expected? If so, wil

[2020-03-02 19:39] mattrandallbecker commented on #104
Thanks for reporting the issue, we'll investigate the problem. The integration tests we wrote only check if a message was successfully sent, looks like that was a mistake and some of the other data is missing.

Additionally, I agree that we need a richer set of metadata information available to the webhook, we already have the following issue for that : https://github.com/aws/aws-node-termination-

[2020-03-06 17:08] mattrandallbecker commented on #14
Unfortunately, our testing revealed a critical weaknesses in our approach, and we were only able to make the feature function as intended on [newest EC2 platform instances](https://aws.amazon.com/ec2/nitro/).  Due to the feature not working on 3rd or 4th gen instances, we don't think it makes sense to release the feature as we've developed it.

As a result, we'll have to go back to the drawing boa

[2020-03-09 21:19] eldondevat opened #110 "Emulate Spot Instance ITN events"
It would be nice to be able to emulate the sorts of events this daemonset reacts to. We are interested in doing more testing around implementing this daemonset, and how it would interact with our application, but I don't see an obvious path forward from a test perspective.

Node replacement on our spot pool is relatively infrequent. I would be open to sending a PR if the team has interest. My init

[2020-03-09 21:26] mattrandallbecker commented on #110
I completely agree.  Customers want to be resilient to Spot interruptions but it is difficult to test how your code/environment responds if you end up not seeing an interruption for extended periods of time.

In our integration tests we developed a [metadata proxy](https://github.com/aws/aws-node-termination-handler/tree/master/config/helm/ec2-metadata-test-proxy) that we use to spoof an ITN so th

[2020-03-10 18:48] eldondevat commented on #110
That sounds like it would be useful for sure. It sounds more involved than what I was thinking. I am also not sure how the mocking element would work with other metadata-adjacent services (kiam for example). We were not specifically planning on writing this as a test harness, but simply using it to schedule these kinds of events on a more continual basis in our development/nonprod clusters.

[2020-03-11 14:30] bwagner5 commented on #104
fixed and released in v1.3.0

[2020-03-11 14:30] #104 closed

[2020-03-11 14:30] bwagner5 commented on #94
added additional node metadata for webhooks and released in v1.3.0

[2020-03-11 14:30] #94 closed

[2020-03-11 14:31] bwagner5 commented on #22
released in v1.3.0

[2020-03-11 14:31] #22 closed

[2020-03-11 18:30] dchelupati commented on #110
Thanks for feedback. We are also looking at providing interruption emulator API that allows you to mock Spot 2 minute ITNs for the running Spot Instances and eventually terminate them. Do you think this would be useful for your testing? Also, can you share what does your code do upon receiving a 2 minute ITN?

[2020-03-11 18:45] bwagner5 commented on #110
@eldondevat It would be possible to run the mock metadata proxy in a reverse proxy mode so that the adjacent metadata paths are accessible as normal.

something like this should work:

[code]

The metadata mock would be listening on the 16925 port as the ec2-metadata user and would intercept the configured paths and then reverse proxy all the rest to the actual metadata service. A mode could then

[2020-03-17 14:34] chrissng opened #121 "Ever increasing memory usage."
I deployed v1.3.0 of the node termination handler using the official helm chart. I noticed that the memory usage is ever increasing and eventually it reaches the pod memory limit and is OOMKilled. Is there a memory leak somewhere?

![Screenshot from 2020-03-17 22-27-31](https://user-images.githubusercontent.com/1767795/76866544-a37e1e00-68a7-11ea-9057-d168337f70c9.png)

Logs does not look anything

[2020-03-17 14:48] mattrandallbecker commented on #121
Must be, we'll investigate the changes between 1.2.0 and 1.3.0 and try to locate what caused this.

[2020-03-18 00:57] chrissng commented on #121
Thanks @mattrandallbecker. I am using v1.2.0 and the memory usage is stable after an hour of running.

[2020-03-18 01:02] bwagner5 commented on #121
We’ve narrowed down the issue and I’m running a test over night to ensure the memory is under control. We will release a patch version tomorrow.

[2020-03-18 14:35] leoskyrocker opened #123 "Design Question: Drain Node vs Add Taints"
Currently, most of the termination handler including this one, drains the node when termination notice is received.

TaintBasedEviction has been enabled [since 1.13](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) (and TaintNodesByCondition [since 1.12](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)). Has anyone thought about usi

[2020-03-18 15:53] jaypipes commented on #123
NTH uses the standard cordon and drain mechanism from the kubectl command of the same name:

https://github.com/aws/aws-node-termination-handler/blob/14188ee1c7470585890cfbd3a6df9d61b259b89b/pkg/node/node.go#L93-L103

which ends up setting the `Node.Spec.Unschedulable` field to true:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/drain/cordon.go#L83

Once NTH

[2020-03-19 03:15] chrissng commented on #121
![Screenshot from 2020-03-19 11-14-36](https://user-images.githubusercontent.com/1767795/77028077-41bed080-69db-11ea-9a4c-cda46d329721.png)

Running on v1.3.1 now. Looks like the memory leak is fixed. Closing this issue.

Thanks @bwagner5 !

[2020-03-19 03:15] #121 closed

[2020-03-19 04:21] leoskyrocker commented on #123
I see. I do see some major differences:

1. Cluster admins can decide whether a pod should tolerate termination, but if they tolerate unschedulable it could mean that it can cause unexpected behavior as it has multiple meanings.
2. There seems to be use cases where users want pods to run till the very last minute even though it's aware of an upcoming termination.
3. Currently it allows skipping al

[2020-03-19 04:21] #123 closed

[2020-03-19 07:46] leoskyrocker commented on #121
The new release is missing the proper assets btw. Was it uploaded via the upload script?
It doesn't have the `all-resources.yaml` file and so on...
Would be a breaking change if someone programmatically downloads the release..

[2020-03-19 08:10] leoskyrocker opened #127 "Chart Daemonset should tolerate all taints by default"
The issue is if a node has a taint, currently the handler will not be run in that node. Then if termination happens, services may not be drained properly. Therefore, it should by default tolerate all taints by adding to the Daemonset?

[code]

[2020-03-19 08:47] leoskyrocker commented on #110
I think the above approach will be feasible for our use case too. Btw, could you suggest a way we could simulate this (either from the AWS console or anyhow) for now?

[2020-03-19 09:40] ruecarlo commented on #110
@leoskyrocker at the moment the only way to trigger the notification from interruption through the console is by using EC2 Fleet in maintain mode or Spot Fleet, procure some spot instances, and then decrease the target capacity of the fleet. There is a [step by step guide](https://ec2spotworkshops.com/ec2_spot_fleet_web_app/interruption_testing.html) in the http://ec2spotworkshops.com site. Hope t

[2020-03-19 09:41] leoskyrocker commented on #110
Is there a way to do it for ASGs? We’re not using spot fleet and seems like the Capacity setting is also disabled.

[2020-03-19 10:17] ruecarlo commented on #110
Not with ASG's at the moment. Thus @dchelupati's point on gathering feedback on an emulator API. If you can provide any feedback in that direction, it will be great for us to understand use cases and scenarios.

[2020-03-19 12:28] bwagner5 commented on #121
@leoskyrocker assets have been uploaded. I missed adding the docker login to the new docker generation scripts (we just switched to manifest uploading this week and rewrote the build and upload scripts).  So the automated release failed and we had to manually upload.  Reran the full scripts this morning and looks like everything is uploaded properly, plus we have arm images :D

[2020-03-19 12:45] leoskyrocker commented on #110
We use SI to process background jobs, and on ITN we would put the currently running he back to the queue so that next worker process can pick it up again. Without their termination notice triggering a drain, we would end up with jobs that are in a corrupted state. Therefore, we cannot use this handler and SI before we have a way to test this. Please suggest way I can help to speed this up so we ca

[2020-03-19 13:05] jaypipes commented on #127
@leoskyrocker Hi! I think you're correct. It makes sense that NTH should run on all nodes, IMHO.

[2020-03-20 01:39] leoskyrocker commented on #110
I re-read OPs question and I think he’s also just trying to verify that this tool works in general instead of expecting to run integration tests for this?

So I had two options in mind:
1) manually bring up a spot fleet and force my fleet instances to join the Kops cluster
2) build an API server that mocks the metadata service which returns an ITN.

For 1) I am not able to make the instance join t

[2020-03-20 09:45] ruecarlo commented on #110
Just in case others have to reproduce; Using the bootstrap (i.e: checking the LaunchTemplate details) of already existing ASG/nodegroups is the right starting point.

[2020-03-20 10:18] leoskyrocker commented on #110
Yas!!! Tho very important one note:

Tag your ec2 instance with KubernetesCluster just like any other worker nodes.

That’s the only thing we were missing and I thought the world is ending.

[2020-03-20 12:04] bwagner5 commented on #110
@leoskyrocker Glad to hear you were able to test. Just an FYI on your option 2: We created a small mock ec2-metadata server for use in our integration tests that you can run **standalone** here: https://github.com/aws/aws-node-termination-handler/tree/master/test/ec2-metadata-test-proxy. It will mock out the metadata necessary to run the aws-node-termination-handler:
 - /latest/meta-data/spot/inst

[2020-03-22 16:47] bwagner5 commented on #127
Pulling the latest chart from eks-chart (https://github.com/aws/eks-charts/releases/tag/v0.0.16) will default to tolerate all taints. Thanks for the issue!

[2020-03-22 16:47] #127 closed

[2020-03-23 19:42] ari-becker commented on #110
We've run into this issue.

The ideal solution, from our point of view, is not a mock metadata proxy but rather the real thing. We'd rather have access to an AWS API which allowed us to provoke a real event for a real EC2 instance.

Not sure if anyone here has the ear of the relevant person inside AWS to make this happen, but it's worth enough of a shot to write about it here.

[2020-03-23 20:03] dchelupati commented on #110
@ari-becker  Thanks for your request. We are looking to provide an API that does exactly that.

[2020-03-29 09:11] doryanmzr commented on #8
any update on that?

[2020-03-31 09:34] mhulscher opened #134 "Document required IAM Policy"
I cannot seem to find the IAM Permissions that are required by the application in the form of an IAM Policy. Does this already exist?

[2020-03-31 13:40] mattrandallbecker commented on #134
Currently aws-node-termination handler does not require any IAM permissions.  As it's loaded onto each node it queries the local EC2 Instance Metadata Service to learn about pending shutdown events then makes calls to the Kubernetes control plane.

[2020-04-01 08:53] mhulscher commented on #134
Clear, thank you. I was hoping that perhaps the aws-node-termination-handler also dissasociates nodes from the ASG the moment they are scheduled for termination.

[2020-04-01 13:09] cablespaghetti commented on #134
Yes I was just looking at this to migrate over from https://github.com/kube-aws/kube-spot-termination-notice-handler

I think this is the one missing feature for this project. However it has always said that the detachment *may bring a replacement instance up sooner*, so maybe an expert could tell us if there are actual benefits to this.

[2020-04-01 14:59] andredurao commented on #110
I've managed to test it running the mock server also, just some comments I would love to know beforehand:

* Change the value of the const `instanceID`
* set the PORT env value first, `PORT=16925 ./ec2-metadata-test-proxy`
* remove the forward iptables rule to restore metadata

[2020-04-01 15:37] bwagner5 commented on #110
@andredurao

InstanceID and other attributes of the mock not being configurable are definitely one of the deficiencies of the mock in this repo. We are working on open sourcing a more consumable ec2 metadata mock as its own project that will allow for much greater flexibility with configuration options.  The release for that should be soon, within the next few months. I'll post on this issue when

[2020-04-01 19:29] mattrandallbecker commented on #134
re: are there benefits to ASG detachment?

I think the best answer I can give is "it depends".

Given the myriad of configuration options I don't think it's possible to say definitively.  If you are using something like Cluster Autoscaler it should be just a matter of seconds for it to see there are pending pods and attempt to launch a replacement.  There could be corner cases depending on how man

[2020-04-02 00:33] lindsaygrace commented on #14
I think a lot of people would be quite okay with that limitation if its enabled via a flag

[2020-04-02 07:59] mazzy89 opened #135 "Support cordon only"
Would be possible to support cordon only instead of also drain? I'm keen to wire PR and make a contribution. I'm just asking here before doing that if the feature would be well accepted.

My use case is that I have CI jobs running in Spot instances and cordon and drain the node would result in a poor experience for the devs because their jobs would be killed beforehand.

Instead of only cordon, th

[2020-04-02 08:54] ulisse31 commented on #135
For Spot Instances, the node would be killed in 2 minutes in any case so the end result would be the same as draining the node, without the additional value of a "clean" pod shutdown, when possible?

It would however have a good use case in case of normal instances upon scheduled termination following hardware issues...

[2020-04-02 08:58] mazzy89 commented on #135
Imagine a scenario of a high number of CI jobs scheduled. If the node is not cordoned within those 2 minutes still other jobs can be scheduled in that node. A cordon would at least save those new jobs to be scheduled and killed.

[2020-04-02 09:05] ulisse31 commented on #135
mhhh I'm not expert at all, so probably I'm misunderstanding what you mean, sorry.
The NTH already cordons + drain so basically achieving already what you need? Unless your CI jobs takes less than 100~120 secs to complete (the time within the node and all its pods will be killed in any case by AWS).

Having the option to only cordon however, doesn't remove or limit any existing feature, so I'd say

[2020-04-02 09:26] mazzy89 commented on #135
Thank you @ulisse31 for the fast reaction here.

NTH already cordons the nodes but also drain them which means killing the jobs that are still executing. Having the feature of only cordon them would make possible to those jobs to finish and if they are able to complete within 100~120 secs give a better experience to devs.

Sure if those jobs don't finish within 100~120secs from the signal creation

[2020-04-02 09:34] ulisse31 commented on #135
Thank to you too!
Disclaimer: I'm not involved in the development of this project, only an user so you may want to check with the project maintainer :)
cheers

[2020-04-02 13:11] buckyguy33 commented on #110
I used this project to simulate a working EC2 metadata spot termination endpoint response.
https://github.com/Shogan/ec2-spot-termination-simulator

[2020-04-02 14:11] mattrandallbecker commented on #135
Sounds like a good idea to me (one of the maintainers).

Even if your jobs take longer than 120s it may be possible there is less than 120s of work left before they finish and if you don't have any mechanisms to checkpoint your work and pick up where you left off your best option may be to let them run their course but prevent scheduling new pods.

We tried to allow some additional flexibility on

[2020-04-02 14:36] mattrandallbecker commented on #8
Sorry for the delay, we got closer to supporting windows with our manifest builds for docker images but we still need to prioritize the build and release script changes to make this happen then perform some testing to ensure it works.

[2020-04-02 14:45] mazzy89 commented on #135
Hi @mattrandallbecker thank you to jumping on this.

exactly. you got perfectly the point. unfortunately, CI jobs don't have the possibility to implement checkpoints and it would be very useful to have the drain-only feature.

I would like to give it a shot if it is ok for you.

[2020-04-02 15:22] mattrandallbecker commented on #135
Definitely ok with me, look forward to the contribution.

[2020-04-03 07:52] mhulscher commented on #134
Thank you. Will close the issue.

[2020-04-03 07:52] #134 closed

[2020-04-03 10:15] mazzy89 commented on #135
I see that we use a channel named `drainChan` to push there drain events after an interruption event is found.

It would be better to create here a new channel and use something like `cordonChan` and use it for cordon only events or rename the existing channel to cover both the use cases cordon-only and cordon&drain? I would vote for the second because at the end of the day a cordon comes before a

[2020-04-03 12:07] bwagner5 commented on #135
@mazzy89 agreed on just renaming drainChan to accommodate cordon+drain and just cordon, maybe interruptionChan?. And yep, renaming a bunch of stuff, since we included cordon as an integral part of what we're calling drain.

[2020-04-03 12:24] mazzy89 commented on #135
yeah the naming is perfect `interruptionChan` agreed. thank you @bwagner5

[2020-04-15 19:17] coderanger opened #138 "RBAC question: DaemonSet delete"
Your sample deployment manifest includes delete permissions for daemonsets. Is this actually used? It looks like maybe it's only needed for running your test suite, and not for normal usage?

[2020-04-15 21:31] mattrandallbecker commented on #138
You may be right that these permissions are overly broad. We'll do some testing to see if we can remove them.

[2020-04-15 21:32] mattrandallbecker commented on #14
The limitation would cause a forking since the new method will require IAM permissions and we'd have to continue to support both or deprecate one forcing incompatibility.  Currently we would rather deliver a comprehensive solution, but it will take us some time to do so given some other commitments at the moment. Sorry for the delay.

[2020-04-15 21:33] coderanger commented on #138
I just went looking for any actual calls to a Delete API in the code and didn't find any, but they might be hiding in a library or similar :)

[2020-04-16 05:28] coderanger commented on #3
This is an old ticket, but as a heads up it's weird and probably not good to put stuff in kube-system. That's intended to be used for pods created by Kubernetes itself. This should probably go in a namespace named like the software.

[2020-04-17 23:13] jtcressy opened #141 "Feature Request: Detatch Instance from ASG upon Termination Event"
The other termination-handler project at https://github.com/kube-aws/kube-spot-termination-notice-handler is capable of detaching the instance from its ASG when a termination event occurs. [Link](https://github.com/kube-aws/kube-spot-termination-notice-handler#autoscaling-detachment)

This feature is useful to compensate for the extremely long lag time between instance termination and another ASG

[2020-04-27 13:48] jsenon opened #142 "JSON Log Output"
Is there any possibilities to implement a JSON flag in order to log with JSON format instead of human readable format?
[zerolog](https://github.com/rs/zerolog) with `zerolog.ConsoleWriter` could be used in order to do that?

Thanks

[2020-04-27 20:35] rajakshay commented on #110
I can't seem to be able to get the simulator to work, and have opened an issue with here: https://github.com/Shogan/ec2-spot-termination-simulator/issues/1

[2020-04-27 20:36] rajakshay commented on #110
Is there any easy way I could simulate a spotInstance termination so that I could test the termination-handler, and how my applications respond to the drain.

[2020-04-27 21:43] jillmon commented on #110
Currently the only way to test for spot terminations is to scale down your spot fleet using the AWS console or CLI.

We are currently working on a project called Amazon EC2 Metadata Mock. It has a planned v0.9.0 release set for the end of the week. This project was build with the purpose of simulating Amazon EC2 instance metadata for local testing, and should be a step towards addressing your need

[2020-04-27 23:12] rajakshay commented on #110
We use mixedInstance ASG on KOPS. Unfortunately, it does not allow me to test it that. way. Looking forward to the _Amazon EC2 Metadata Mock_ release. Cheers!!

[2020-04-28 00:13] bwagner5 commented on #142
I'm not against the idea, but I'm curious what they would be used for. I assume metrics would be derived from the json logs, would a prometheus metric path be a better solution for that?

[2020-04-28 00:21] bwagner5 commented on #141
Thanks for your interest in Node Termination Handler, and apologies for the delay in responding!

First, the bad news. The current design of Node Termination Handler does not allow us to manipulate AWS resources like ASGs. In order for NTH to do that, we would need a more complicated setup process to get credentials. We've discussed at length in this issue https://github.com/aws/aws-node-terminati

[2020-04-28 00:24] bwagner5 commented on #138
We've merged the unneeded permissions removal in this repo, but waiting on https://github.com/aws/eks-charts/pull/114 PR to be merged and an eks-charts release.

[2020-04-28 03:08] leoskyrocker commented on #110
If you really really need to do this, use this steps here: https://github.com/aws/aws-node-termination-handler/issues/110#issuecomment-601491179

[2020-04-28 08:34] jsenon commented on #142
Prometheus metrics is also a great idea.
Regarding the logs, many Kubernetes system have now a stack with Fluent - Elastic - Kibana. Because we don't want to add specific filter in order to be able to search element inside Elasticsearch cluster, JSON logs offer the possibility to parse and index the log automatically based on JSON key without modification.

[2020-04-28 14:16] georambo opened #144 "Cannot send slack webhook call via proxy"
We only allow external traffic via an outgoing proxy.  We should be able to pass ENV variables to the daemonset, so we can pass in https_proxy, and slack call should use this value if it is set.  Otherwise, the slack calls are not getting out of the network.

[2020-04-28 23:32] rajakshay opened #146 "node getting marked as SchedulingDisabled, but does not drain"
**1. What happened**
The `aws-node-termination-handler` marked the node as `SchedulingDisabled` but, it did not drain the node.

**2. What did you expect to happen?**
Expected the drain command to evict pods running on the node.

**3. What commands did you run?  What is the simplest way to reproduce this issue?**
* Running this version of `aws-node-termination-handler`:
[code]
* updated the manife

[2020-04-29 14:26] bwagner5 commented on #146
Thanks for opening this issue and giving such detailed information! We will investigate and post back soon.

[2020-04-29 19:36] haugenj commented on #146
This could be happening if those pods are managed by daemonsets since the IGNORE_DAEMON_SETS option is true. Can you do a `kubectl describe pods <name>` on one of the remaining pods and see if it's controlled by a daemonset?

There's likely an error being returned from where we're calling drain that isn't being caught. I added catching and logging those errors in a recent [PR](https://github.com/a

[2020-04-29 21:39] rajakshay commented on #146
* The pods are from k8s deployment object. Here is the full manifest: https://gist.github.com/rajakshay/4feb750791347c6f1705d4da5c83e9a0

* Here is the result from `kubectl -n kube-addons describe pod my-nginx-68b88cc97d-464tx`
[code]

I will try to build from source using the changes from the PR, and see if I can get more information.

[2020-04-29 22:21] bwagner5 commented on #144
Sounds like a good thing to add. I'll post back when we're able to implement this. Or if anyone from the community wants to contribute ;)

[2020-04-30 01:33] rajakshay commented on #146
**I was able to build from master, and get it to work. The error handling in the PR really helped out.**

* Logs from `node-termination-handler`. Only pasting relevant logs:
`kubectl -n kube-system logs -f pod/aws-node-termination-handler-ngjkb`
[code]

* `kubelet logs`
[code]
* By setting the flag `DELETE_LOCAL_DATA` to `true`, I was able to fix my issue.

Thanks everyone for helping debug this i

[2020-04-30 01:33] #146 closed

[2020-04-30 12:22] yzargari opened #147 "Unable to parsed scheduled event start time"
Hello,
I recently deployed aws-node-termination-handler in my cluster and now I have my first scheduled termination. The node hasn't drain nor cordoned and the application logs show the following message repeatedly every 2-3 seconds:
[code]

What might the problem be?

Thanks,
Yosi

[2020-04-30 14:20] bwagner5 commented on #147
I've reproduced the issue. It looks like we made a bad assumption when parsing the date and assumed the day would be padded to always be two digits. I will put a PR up to fix this bug today, sorry for the inconvenience!

[2020-04-30 21:48] bwagner5 commented on #147
PR is merged, we'll be making a release soon to fix this.

[2020-05-04 10:21] yzargari commented on #147
Thanks for the quick resolution!

[2020-05-04 18:44] jillmon commented on #110
The Metadata Mock repository is now public. It can be found here: https://github.com/aws/amazon-ec2-metadata-mock. While 90% of the development is complete, there are still some changes in flight. This is the v0.9 release. v1 will be released once the remaining development work is complete.

[2020-05-05 14:14] doryanmzr commented on #8
I'd like to know if there is any progress :)

[2020-05-06 20:08] cjerad commented on #8
I'm working on this now

[2020-05-08 18:17] bwagner5 commented on #147
released https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

[2020-05-08 18:18] bwagner5 commented on #142
released https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

[2020-05-08 18:18] #142 closed

[2020-05-08 18:18] bwagner5 commented on #138
released https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

[2020-05-08 18:18] bwagner5 commented on #138
released https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

[2020-05-08 18:18] #138 closed

[2020-05-08 18:19] bwagner5 commented on #135
released https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

[2020-05-08 18:19] #135 closed

[2020-05-08 18:35] bwagner5 commented on #144
released https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

[2020-05-08 18:35] #144 closed

[2020-05-12 14:34] cshivashankar commented on #8
Hi, Any idea when this might be released. I am trying to get an approximate time frame so that I can plan accordingly.

[2020-05-12 21:39] jillmon commented on #8
@cjerad is currently in the process of scoping the requirements for this change. We should be able to give you a better estimate of completion within another week or so. Since this is such a new feature, we want to make sure that it is adequately reviewed and tested, but this feature is now on our official roadmap. We expect to complete it soon.

[2020-05-13 06:32] cshivashankar commented on #8
Hi @jillmon Many thanks for the update. I will be following this thread for more info

[2020-05-13 08:01] diversario opened #160 "Taint nodes when termination notification is detected"
Similar to how [`cluster-autoscaler` uses taints when marking nodes for scale down](https://github.com/kubernetes/autoscaler/blob/912d923484b826b6986046405d243f9083ceb764/cluster-autoscaler/utils/deletetaint/delete.go#L35-L36), `aws-node-termination-handler` should taint nodes which will be terminated, _in addition_ to everything it does currently. This issue is slightly similar to #123 but the pr

[2020-05-13 08:55] HankChow opened #161 "How can I get the termination information via webhook?"
I have deployed aws-node-termination-handler as DaemonSet in an EKS cluster. I set the configuration of flags in order to receive notification via webhook when a spot instance terminates.
To test whether the flags will work, I only set the flag WEBHOOK_URL with a url which is listening for HTTP requests and leave blanks for other flags as default.
I did receive an POST request from a terminating s

[2020-05-13 14:29] bwagner5 commented on #161
The default webhook request template is for [slack webhooks](https://api.slack.com/messaging/webhooks#posting_with_webhooks). Depending on what server you're sending the request to, you may need to change the template to match the expected request body.

There's an example in our end-to-end test suite where we change the template to the expected request structure for [amazon chime webhooks](https:

[2020-05-13 14:43] bwagner5 commented on #160
That sounds like a good addition to the project. A PR is certainly welcome!

We have a [node labeling function](https://github.com/aws/aws-node-termination-handler/blob/b6477836cc81f6c2e82ca9840adf170472bbd0fc/pkg/node/node.go#L194) already defined, so shouldn't be too hard to add a taint function in the node pkg.

Also, should the taint only be applied to spot interruption termination notices (IT

[2020-05-13 16:58] ulisse31 commented on #161
I don't know if it makes sense to post it in this thread, but our webhook is set to send notifications to Slack, and some of the fields are empty. Is it supposed to be this way?

![Screenshot 2020-05-13 at 18 56 30](https://user-images.githubusercontent.com/56721660/81841977-8b471a00-954b-11ea-9766-403ee6f73992.png)

[2020-05-13 17:22] bwagner5 commented on #161
@ulisse31 I believe you're seeing the same error as this issue https://github.com/aws/aws-node-termination-handler/issues/104. This was fixed in v1.3.0, so if you're on a version pre v1.3.0, upgrading to v1.3.1 or to the latest v1.4.0 release should fix it for you.

[2020-05-14 04:13] HankChow commented on #161
@bwagner5 Thanks for your answering.
The request is sent to an application based on Flask. I can see that the request does reach my Flask application with POST method, but there is nothing in the payload of the request.

[2020-05-14 07:16] ulisse31 commented on #161
We're already running v1.3.1 on EKS 1.14.
We have planned to upgrade 1.4.0 so I'll give it a try and in case report back. Thank you for your reply!

[2020-05-14 19:39] bwagner5 commented on #161
@HankChow I did a test with a flask server:

### Flask Source Code

[code]

### aws-node-termination-handler local binary

[code]

### EC2 Metadata Mock

[code]

### Flask Stdout Log
[code]

Printing `request.data` from the flask handler shows the webhook data.

[2020-05-15 02:39] ffjia commented on #14
It'd nice if `aws-node-termination-handler` can, somehow, integrate with tools like [amazon-k8s-node-drainer](https://github.com/aws-samples/amazon-k8s-node-drainer). We could then have a unified solution to deal with instance termination issue gracefully.

[2020-05-15 02:53] HankChow commented on #161
@bwagner5 Thanks for your answering.
I get the webhook data from `request.data` successfully. It was my mistake that I tried to get the webhook data from `request.json`.

[2020-05-18 13:15] bwagner5 opened #163 "Fix log output on e2e tests when a failure occurs"
When running the E2E test suites, the NTH logs are printed on a successful test run, but they are not print when a test failure occurs.  NTH logs should be printed when the tests succeed or fail.

[2020-05-18 20:39] #160 closed

[2020-05-25 04:27] #161 closed

[2020-05-29 07:31] janludvikd3 opened #168 "Manifests in the repository"
Hi,

I apologize if the suggestions is dumb but we have following problem:

We are starting to use ArgoCD as a tool to deploy cluster addons. Node termination handler is one of them. Currently we are not making any changes to it and deploy it as it is in releases. We are using helm for some addons where we add different configuration values but for this addons helm chart seems like unnecessary dep

[2020-05-29 13:38] bwagner5 commented on #168
Not a dumb suggestion at all!
We actually have the resource files uploaded as static release assets on each release.

https://github.com/aws/aws-node-termination-handler/releases/tag/v1.4.0

There are two consumable versions:
 - [all-resources.yaml](https://github.com/aws/aws-node-termination-handler/releases/download/v1.4.0/all-resources.yaml) - This file includes all kubernetes yaml docs in one

[2020-06-02 12:48] janludvikd3 commented on #168
Thanks for the response!
In the meantime I decided to use helm for node termination handler as well. Partly because there seems to be a bug in kustomize in version bundled with ArgoCD 1.5.5 which blocks downloading of https resources - and that might have been the reason why it didn't work for me in the first place. Might test it later when there is a new kustomize in ArgoCD.

[2020-06-02 12:48] #168 closed

[2020-06-03 11:24] adnankobir opened #169 "Feature Request: Add lifecycle labels to nodes"
We run ASGs with mixed on-demand and spot instances. Given the nature of spot instances and some of our workloads, we need the ability to use Node Affinity rules to ensure we get a good spread between the on-demand nodes and the spot nodes (or avoid spot instances altogether for certain workloads).

Would it be feasible to have NTH query the metadata API and retrieve the lifecycle of the running n

[2020-06-03 21:15] farshad-hobsons opened #170 "Feature Request: Read WEBHOOK_URL from a secret instead of specificying in an env variable"
`WEBHOOK_URL` is treated as a secret/private by some organizations since it gives the ability to send a message to a group of people e.g. in a slack channel.

Currently the manifests in https://github.com/aws/aws-node-termination-handler/releases/download/v1.4.0/all-resources.yaml require to hard code the `WEBHOOK_URL` value which some organization can not afford to put in Github.

Please provide

[2020-06-03 21:19] bwagner5 commented on #170
Sounds reasonable to me. Not sure when we'll have the time to add this, but community contributions are welcome! I'll add a "Help-Wanted-Tag" to this issue if you or someone else wants to take a crack at it.

[2020-06-03 21:21] bwagner5 commented on #169
Definitely a good feature request! Unfortunately, lifecycle is not available in EC2 metadata and I'm not aware of another way to retrieve the data without credentials to make an API call.  We're open to suggestions though.

[2020-06-04 01:06] kzap commented on #141
Running cluster autoscaler would compensate for this and bring up new nodes for you when needed rather than waiting for one to be replaced?

[2020-06-04 14:33] bwagner5 commented on #141
If a spot node was interrupted and aws-node-termination-handler cordoned and drained the node, then pods would go into pending and CA should scale up. I think the optimization that this issue is tracking is the amount of time it takes to get another node up. There could be latency in CA scaling up, but if we detach the node from the ASG, then the ASG would strive for the desired node count and sca

[2020-06-04 20:50] adnankobir commented on #169
Would you have any issues with making an authenticated API call? If not I'd like to take this on and enable this functionality behind a feature flag.

[2020-06-04 21:20] bwagner5 commented on #169
I would be hesitant to add an authenticated API call to the NTH daemonset.   If we end up creating a controller version of NTH (https://github.com/aws/aws-node-termination-handler/issues/14), then it would make perfect sense.

KOPS is currently labeling spot nodes in the kops controller, if you happen to be using kops currently :) .

If not, I think a really simple controller could be created as a

[2020-06-04 21:28] adnankobir commented on #169
Thanks for the quick response. Closing the issue and will keep an eye on  https://github.com/aws/aws-node-termination-handler/issues/14 is decided.

[2020-06-04 21:28] #169 closed

[2020-06-12 15:21] manute opened #171 "Prometheus metric path"
Hi,

Thanks for this project, it's very useful.

Looking at the documentation I could not find any prometheus path, so Can it be added or do you think is not needed?

I can work on a PR if that's ok.

[edited: typo]

[2020-06-12 17:39] bwagner5 commented on #171
I think prometheus metrics could be useful if it's behind a configuration flag. Since NTH is a daemonset, some users may not want to waste the extra overhead of running an http server for metrics if they're not interested in them.  Feel free to work on a PR!

[2020-06-15 16:50] imuqtadir commented on #170
I'll take a look and work on this.

[2020-06-16 14:33] manute commented on #171
Hey @bwagner5 , I just created this #172 .

[2020-06-16 15:18] akapshuk opened #173 "aws-node-termination-handler Network I/O issues with pod"
I don't have any way to reproduce this issue, but found it after taking a look at bills. Few days ago something starting eating ~100$/day after investigation - it was a NAT gateway and I found a source of traffic.
![Screenshot_20200616_165934](https://user-images.githubusercontent.com/1126411/84785302-06409c00-aff4-11ea-8172-b08f04d007c7.png)
![Screenshot_20200616_171023](https://user-images.githu

[2020-06-17 21:26] bwagner5 commented on #173
AWS Node Termination Handler constantly polls the ec2 instance metadata service which is on the host via a link-local 169.254.169.254 address. Polling that address shouldn't cause any NAT GW costs. I'm not sure where that network I/O is coming from. The logs you posted look like normal operation of NTH.

Are there any other statements in the logs that may provide more insight?

[2020-06-19 15:29] bwagner5 commented on #110
v1.0.0 of the amazon-ec2-metadata-mock was released https://github.com/aws/amazon-ec2-metadata-mock/releases/tag/v1.0.0

[2020-06-19 15:29] #110 closed

[2020-06-24 10:32] stevehipwell opened #181 "Add support for Instance Refresh for EC2 Auto Scaling"
Can the _AWS Node Termination Handler_ handle the events triggered by [Instance Refresh for EC2 Auto Scaling](https://aws.amazon.com/blogs/compute/introducing-instance-refresh-for-ec2-auto-scaling/) to provide a seamless worker upgrade path? If not is this something that could be supported?

[2020-06-24 17:17] bwagner5 commented on #181
It's not possible to add support for Instance Refresh with the current daemonset implementation. We are tracking this issue https://github.com/aws/aws-node-termination-handler/issues/14 to support generic shutdown events by responding to ASG lifecycle hooks and events from EventBridge. But active development is not underway yet.

[2020-06-25 14:07] diegosanchez commented on #147
Using version `1.5.0` (image `amazon/aws-node-termination-handler:v1.5.0`) similar issue arose again.

[code]

[2020-06-25 14:12] bwagner5 commented on #147
We'll investigate and post back, thanks for bringing this up

[2020-06-25 14:39] bwagner5 commented on #147
Is this error from an actual scheduled maintenance event or testing through ec2-metadata-mock?  I've run a small test with ec2-metadata-mock below and it seems to work correctly. Can you provide some more details on your configuration? The IMDS raw output would also be helpful, but I guess we don't log raw output on a parse error currently :(

[code]

STDOUT:
[code]

[2020-06-25 15:34] diegosanchez commented on #147
@bwagner5

I was about to query the aws metadata server (AMS)  `http://169.254.X.X` when suddenly the instance was stopped by EKS (?). Sorry, I didn't gather the metadata informed from AMS.

[2020-06-25 15:43] bwagner5 commented on #147
no worries, I'll dig and see if one of the scheduled maintenance events does not provide an end time.

[2020-06-29 16:30] mmiranda opened #183 "Improve InterruptionEvent with more details"
When an `InterruptionEvent` occurs (used to post on webhook), it would be nice to have information such as:

* instance-id
* instance-type
* node name
* availability zone

This way we can adapt the WEBHOOK_TEMPLATE to also send that information.

[2020-06-29 16:53] bwagner5 commented on #183
Hi @mmiranda  The following are the structs that are available to use in the webhook template:

[code]

The data is merged into a convenient struct on the webhook for template usage:

[code]

Currently, instance-id and instance-type are available to be included in the webhook template. LocalHostname is pretty close to node name, so that may work for you.  Here's an example of specifying the webhoo

[2020-06-30 08:46] kostas-rs opened #186 "Use with managed node groups"
Hi,

Since managed node groups were introduced, according to AWS:

Does this mean `aws-node-termination-handler` is not required when used in conjunction with managed node groups during maintenance events? Does anyone have some experience around that?

Also with managed node groups backed by spot instances in the horizon it would be good to get some clarity in case there is overlapping functionali

[2020-07-01 21:39] bwagner5 commented on #171
released in v1.5.0!

[2020-07-01 21:39] #171 closed

[2020-07-02 21:30] leosunmo opened #187 "Document the metadata endpoints/paths used"
First of all, thanks for this project! It's a must for anyone running Kubernetes on AWS with Spot instances!

Now, I use [Kiam](https://github.com/uswitch/kiam) to handle AWS IAM credentials in the cluster, and as part of its operation it redirects/blocks access to the metadata endpoint on all nodes. It does have the ability to pass through a specified list of endpoints/paths. So what I need to kn

[2020-07-02 22:13] bwagner5 commented on #187
That list is confirmed as the only metadata path NTH queries!  ✅

Adding documentation on how to set NTH with Kiam would be awesome! Thanks!!

[2020-07-02 22:29] leosunmo commented on #187
Excellent, thanks for the quick reply!
I will work on the Kiam bit and then send through a documentation PR.

[2020-07-02 22:43] leosunmo commented on #187
Okay, so looking at https://github.com/uswitch/kiam/blob/6c1999c40337a7c5d8c02880f756d5ada5e7a569/pkg/aws/metadata/handler_proxy.go#L47 we should be able to verify that this will indeed work.

Regexp slapped together here: https://regex101.com/r/ctbD5m/2 (please let me know if there's a nicer way to do this, I didn't want to resort to any wildcards for security reasons).

Go playground verifying i

[2020-07-02 22:46] leosunmo commented on #187
I'm going to deploy this config in my own cluster first to verify then I will add documentation.

[2020-07-02 23:46] leosunmo commented on #187
Done. Works well in my staging cluster. Tested two nodes, one with the new Kiam config and one with the old. The vital endpoints are blocked on the old config, works fine on the new.

[2020-07-06 15:18] bwagner5 commented on #186
@kostas-rs EKS managed node groups use ASG lifecycle hooks to drain nodes based on ASG termination events. The health checks that ASG performs take into account EC2 status checks which include EC2 scheduled maintenance events (https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html).  If you're using EKS managed node groups, you should not need the aws-node-termination-handler for t

[2020-07-06 15:53] bwagner5 commented on #187
thanks for the docs and testing!

[2020-07-06 15:53] #187 closed

[2020-07-06 16:32] kostas-rs commented on #186
Thank you @bwagner5.

[2020-07-06 16:32] #186 closed

[2020-07-08 18:59] bwagner5 commented on #170
this has been released in v1.6.0

[2020-07-08 18:59] #170 closed

[2020-07-08 18:59] bwagner5 commented on #147
this bug has been fixed in the v1.6.0 release.

[2020-07-08 18:59] #147 closed

[2020-07-10 08:04] itssimon opened #193 "Invalid semantic version"
Error: Failed to render chart: exit status 1: Error: template: aws-node-termination-handler/templates/daemonset.linux.yaml:23:9: executing "aws-node-termination-handler/templates/daemonset.linux.yaml" at <include "aws-node-termination-handler.nodeSelectorTermsOs" .>: error calling include: template: aws-node-termination-handler/templates/_helpers.tpl:96:40: executing "aws-node-termination-handler.

[2020-07-10 12:17] cshivashankar commented on #141
Hi @bwagner5  This is the only feature which is stopping us from moving to aws termination handler. At present custom solution is being implemented.But I would love to use the amazon version.
Any idea when this feature  could be released.

[2020-07-10 13:14] bwagner5 commented on #193
will look into this ASAP

[2020-07-10 13:32] bwagner5 commented on #193
Can you share details about your environment?  I'm trying to reproduce, but all e2e tests are passing and they use helm to install.  I was able to manually install to an EKS cluster w/ the following version using helm3:

[code]

[2020-07-10 13:37] itssimon commented on #193
The error occurs during a `helmfile apply` operation, which internally uses the helm diff plugin. It's just in the latest chart version, the previous version 0.8.0 works fine.

[code]
[code]
[code]

[2020-07-10 13:45] fert-f commented on #193
Workaround is to use old chart version:
`helm upgrade ...  --set image.tag=v1.5.0  --version 0.8.0`

[2020-07-10 13:59] bwagner5 commented on #193
Thanks for the info, I was able to reproduce with the helm diff plugin:

[code]

[2020-07-10 15:13] bwagner5 commented on #193
PR is up for a patch. Turns out EKS Minor versions have a "+" in them.

[2020-07-13 16:56] mtougeron opened #200 "[help needed] how do I get metrics for the actions taken?"
I'm running v1.6.1 and I'm having trouble getting the prometheus metrics for the actions to show up. I've confirmed that I've had spot instance terminations for this cluster.

I'm getting the go routine type metrics but none for when an action is taken.

[code]

My logs for the containers look like this which show the metrics port enabled.

[code]

k8s version: 1.17.6
aws-node-termination-handler:

[2020-07-13 16:59] bwagner5 commented on #200
I don't think you'll get the action metrics unless an action is take on the node that you're getting the metrics from. Since aws-node-termination-handler is running as a daemonset on all nodes, you'll have to poll for metrics on all the nodes to catch the action metrics. Also, depending on the polling interval, you could still miss them if the node goes away before the metrics are polled for.

[2020-07-13 17:01] bwagner5 commented on #200
@manute implemented the prometheus metrics, maybe he has some suggestions too on how to set it up properly?

[2020-07-13 17:14] mtougeron commented on #200
Yup, understood that they could be missed. I'm polling every node with Prometheus every 60 seconds so it "should" catch them though. I've had 11 spot terminations in the last 2 hours.

[2020-07-13 17:24] mtougeron commented on #200
Ah, nm. Looks like the `actions_node` metric just showed up for 1 node. Must have been an issue with scraping the metrics endpoint before the termination. :(

Thanks for your quick response & help.

[2020-07-13 17:24] #200 closed

[2020-07-14 21:51] bwagner5 commented on #193
eks-charts has been released

[2020-07-14 21:51] #193 closed

[2020-07-15 08:42] kuzaxak opened #202 "Can't use nodeSelector with helm chart"
[code]

Gives you an error:
[code]

Version:
[code]

[2020-07-15 15:02] haugenj commented on #202
Thanks for bringing this up!

We released chart version 1.6 last night that includes support for Windows, and after a quick look it seems we might not be passing the value for nodeSelector correctly. We'll investigate further as soon as we can

[2020-07-16 05:03] michaeljmarshall opened #204 "Add optional Service and ServiceMonitor to helm chart to expose prometheus metrics"
Reference: https://github.com/aws/eks-charts/pull/183#issuecomment-650354184

The helm chart provides an option to expose prometheus metrics on a port. Prometheus metrics are often collected via a `ServiceMonitor` pointed at a `Service`, which in turn exposes the endpoints and their ports so that the prometheus server can scrape the metrics. As such, I think it'd be helpful to add an option to the

[2020-07-16 11:39] danil-smirnov opened #205 "Can not use --set nodeSelector.xxx=yyy anymore"
Hi,

After the last release I can not install the Helm chart anymore with the following command

[code]

The error is
[code]

Zero config is working fine.
[code]

I'm using EKS 1.16 and Helm 3.2.4.

[2020-07-16 12:00] bwagner5 commented on #205
Thanks for reporting this issue! We were notified yesterday via https://github.com/aws/aws-node-termination-handler/issues/202 and have a patch in PR https://github.com/aws/aws-node-termination-handler/pull/203 .

As a work around, you are able to set the nodeSelector like this:

[code]

[2020-07-16 12:05] bwagner5 commented on #204
@michaeljmarshall Would the service provide access to NTH in some manner or is it just used to group the pods for the ServiceMonitor?

I'm not very familiar with Prometheus, but would be open to doing this if you could clarify the moving parts or point me to some docs.  I'm particularly curious about how prometheus metric pulls are affected by NTH being a daemonset. It seems like if a service was

[2020-07-16 12:23] bwagner5 commented on #204
Also @michaeljmarshall, what are your thoughts on the PodMonitor implemented in this PR https://github.com/aws/eks-charts/pull/211 ?

[2020-07-16 12:50] crhuber commented on #204
Added PR to create a PodMonitor https://github.com/aws/aws-node-termination-handler/pull/206

[2020-07-17 07:06] danil-smirnov commented on #205
@bwagner5 Hey it works, thanks for the workaround.

[2020-07-17 07:26] kaviarasan-ex2 opened #207 "How to Simulate the interruption to see what exactly it's doing"
Looking for a recommendation before we use it in our higher level environment.

Requirement:
1. We're using self managed kops k8s clusters across all our environment
2. We decided to use spotallocation capacity optimized statergy
3. We need to test aws-node-termination-handler e2e in our lower level environment with 2 nodes 1 per AZ. before we say it's production grade and can be used in across th

[2020-07-17 07:30] #207 closed

[2020-07-17 07:34] kavicse87 opened #208 "How to simulate the interruption situation manually to see what aws-node-termination-handler is doing normally"
Looking for a recommendation before we use it in our higher level environment.

Requirement:

We're using self managed kops k8s clusters across all our environment
We decided to use spotallocation capacity optimized statergy
We need to test aws-node-termination-handler e2e in our lower level environment with 2 nodes 1 per AZ. before we say it's production grade and can be used in across the enviro

[2020-07-17 07:42] kavicse87 commented on #208
It's a blocker that we've as of now. Any advise on this would be highly helpful to move ahead with this.

[2020-07-17 13:38] habibali95 commented on #208
i have the same issue...

[2020-07-17 13:51] bwagner5 commented on #208
The aws-node-termination-handler logs will show spot interruption events from the EC2 Instance Metadata Service. It does not currently drain nodes on instance terminations/shutdowns, only spot interruption events and ec2 scheduled maintenance events. Both of these events are sourced from the EC2 Instance Metadata Service.

There are several ways to test the spot interruption handling capabilities

[2020-07-17 15:40] michaeljmarshall commented on #204
@bwagner5 - the Prometheus Operator uses ServiceMonitors to discover the Services, and then it uses those Services to discover the Endpoints, which are then used to scrape metrics.

I am new to PodMonitors. Based on some quick reading, I think a PodMonitor makes sense here. I'll take a look at the PR and provide feedback there.

Thanks!

[2020-07-17 17:28] kavicse87 commented on #208
Thanks @bwagner5  this is really helpful.. We would require to use a drainer which should drain the nodes gracefully. So that the workloads can be moved to other available nodes.. With respect to kops kubernetes nodes.. Otherwise we have no use of running this termination handler as a daemon set right because we can capture those interruptions through cloud watch as well right..

[2020-07-17 17:57] kavicse87 commented on #208
@bwagner5
We red this document about 15 days ago and that says it supports node draining and from there we navigated to this git hub project. But why are you saying this isn't draining the node that too with the latest version v1.16.1.  Please clarify as we've been put lot of time and efforts on this so far.

https://aws.amazon.com/about-aws/whats-new/2019/11/aws-supports-automated-draining-for-sp

[2020-07-17 19:34] bwagner5 commented on #208
@kavicse87 sorry for the confusion! aws-node-termination-handler does drain nodes. I meant to say that it only drains nodes from spot interruption events. If you would manually terminate your EC2 instance from the AWS console or CLI, aws-node-termination-handler would not drain the node. But if you're using spot instance in a cluster, and one of your spot instances is interrupted by AWS, then aws-

[2020-07-18 03:56] kavicse87 commented on #208
Thanks for the clarification!! With that we'll test out the functionality by simulating the situation.. Let's get back to you with the findings.

[2020-07-19 06:26] TBBle commented on #193
I just saw this. Kubernetes Major/Minor versions are not SemVer, so `semverCompare` is the wrong function to use here.

The correct field to check with `semverCompare` is  `.Capabilities.Version` ([`GitVersion` upstream](https://github.com/kubernetes/kubernetes/blob/92e471a0bd3fac9f5d7609a88cd1c860d876cd24/staging/src/k8s.io/client-go/pkg/version/base.go#L45-L58)), although you have to check again

[2020-07-20 17:39] bwagner5 commented on #205
released fix in eks-charts

[2020-07-20 17:39] #205 closed

[2020-07-20 17:39] bwagner5 commented on #202
released fix in eks-charts

[2020-07-20 17:39] #202 closed

[2020-07-21 13:43] DP19 commented on #183
I'd like to take stab at this!

[2020-07-21 13:49] bwagner5 commented on #183
@DP19 Go for it! 🚀

Also, since this issue was opened, documentation was added about which metadata paths NTH uses for kiam configurations. If you add additional paths, don't forget to update the readme:

https://github.com/aws/aws-node-termination-handler#use-with-kiam
https://github.com/aws/aws-node-termination-handler#metadata-endpoints

[2020-07-21 14:46] DP19 commented on #183
@bwagner5 Thanks! PR #210 adds this info

[2020-07-21 19:57] DP19 commented on #95
Another option is to enabled AZRebalance in the Suspend Processes section of the ASG. This will prevent the ASG from automatically trying to balance the nodes across AZ's. While this doesn't really solve the issue of the termination handling, it will stop it from happening in the first place

[2020-07-31 16:29] bwagner5 commented on #8
Windows support was released a while back, thanks to @cjerad!  🥳🎊🚀🤩

We would love to hear feedback from anyone using NTH on windows!  I'm going to close this issue, but feel free to comment here on your experience or open a new issue.

[2020-07-31 16:29] #8 closed

[2020-07-31 16:30] #163 closed

[2020-08-01 15:56] kavicse87 commented on #208
@bwagner5  finally Ive got instance provisioned which is from >20% of interruption and the instances getting terminated because of the spot interruption saying that capacity isn't available to the respective spot request.. I did see nothing in the AWS node termination handler logs with respect to its draining the node or instance gets interrupted like that.. Can you please clarify this?

[2020-08-02 03:25] kavicse87 commented on #208
@bwagner5 Please advise when you get a chance to look into it..

[2020-08-03 16:43] kavicse87 commented on #208
@bwagner5 , I see it in the logs but I couldn't see anything in the old kube-apiserver logs, with repect to termination or node draining related information. Please advise.

k logs kube-apiserver-ip-<ips removed> -f -n kube-system | grep aws
I0803 16:04:01.212390       1 trace.go:116] Trace[1684992899]: "Get" url:/api/v1/namespaces/kube-system/pods/aws-node-termination-handler-962sl/log (started:

[2020-08-04 13:27] cjerad opened #220 "Error after upgrading from 0.8.0 to 0.9.2"
I'm getting the following error since upgrading from 0.8.0 to 0.9.2. Seems potentially related to this PR. I have not set that value.

[code]

_Originally posted by @yurrriq in https://github.com/aws/aws-node-termination-handler/pull/185#issuecomment-668372538_

[2020-08-06 10:42] YakobovLior commented on #208
Hey @bwagner5,
I'm currently facing the same question, we have deployed the daemonset and want to make a test to verify it's behavior alongside the Slack webhook configuration.
I saw the test under this project - https://github.com/aws/aws-node-termination-handler/blob/master/test/e2e/spot-interruption-test
but can you explain more how to use it?
How come the EC2 instances will know that the mock

[2020-08-06 15:11] amrragab8080 opened #223 "execute custom script during spot notification event"
Is it possible to specify a script I want to run when the spot termination notice is read from the instance metadata? The use case here is that in the 2 minute time window I want to transfer files generated in my pod back to S3. I think this will be useful in a machine learning context if I can transfer my checkpoints.

[2020-08-06 20:08] haugenj commented on #208
@YakobovLior The e2e tests install aws-node-termiation-handler using Helm and set the metadata url [here](https://github.com/aws/aws-node-termination-handler/blob/master/test/e2e/spot-interruption-test#L36). This becomes where aws-node-termination-handler looks for metadata; other applications on the node still look at the real EC2 metadata service.

We set that environment variable [here](https:/

[2020-08-06 22:11] haugenj commented on #208
@kavicse87 Hey, sorry for the delay, Brandon's out until next week. Can you clarify what the issue is? Is it that you aren't seeing pods being drained off the nodes when there's an interruption? Or are you still trying to validate this behavior and need more help with simulating an interruption event?

To simulate a Spot interruption event with amazon-ec2-metadata-mock:

Install [amazon-ec2-metada

[2020-08-07 15:50] kavicse87 commented on #208
@haugenj I'm totally exhausted with chasing up with this thing. Can you help me please ? My nodes are interrupted automatically since they are from >20% interruption, but I couldn't see the draining related output in the node termination handler logs. I'm still stuck, I couldn't justify it does the draining. I don't have to simulate the interruption because I've configured such a way that interrup

[2020-08-07 17:30] ajcann opened #224 "Clusterrole does not have 'get' permissions on pods"
Going over cluster api audit logs, I see aws-node-termination-handler attempts to use the 'get' verb on pod resources but these requests are rejected. I see that the helm chart's clusterrole specifies `list` but not get `get`.

Will this harm functionality in anyway? Should we amend the clusterrole to have `get` permissions or is this get request unintentional?

[2020-08-07 17:49] haugenj commented on #208
@kavicse87 I do think our charts are only configured for Helm 3. Can you post the logs from an aws-node-termination-handler pod that was interrupted? Specifically the beginning of the logs that show the config like:
[code]

Can you also post the exact Spot interruption message you're getting?

[2020-08-07 19:53] haugenj commented on #224
Hey thanks for bringing this up! Without diving too deep on this, I don't think this affects the ability of aws-node-termination-hander (famous last words). Cordoning and draining is working in all our tests, have you seen any issues with draining in your cluster?

I audited the clusterrole permissions [a while back](https://github.com/aws/aws-node-termination-handler/pull/140) and didn't notice a

[2020-08-07 20:18] ajcann commented on #224
@haugenj  Thanks for responding so quickly! We haven't noticed any issues stemming from this, though our clusters are fairly large and busy so certain issues may go unnoticed. I believe this get calls happens shortly after the /eviction endpoint is hit. I suspect it's attempting to get the pod status?

[2020-08-07 22:03] haugenj commented on #223
Hey thanks for the question! At the moment this is not a supported feature of aws-node-termination-hander.

I vaguely remember discussing such a feature with @bwagner5 a while back and I can't remember where we landed on it. He'll be back in the office on Monday, I'll reconnect with him then get back to you.

[2020-08-08 07:23] kavicse87 commented on #208
Interruption log as below from the auto scaling group under activity section:
=================================================
Failed | Launching a new EC2 instance. Status Reason: Could not launch Spot Instances. InsufficientInstanceCapacity - There is no Spot capacity available that matches your request. Launching EC2 instance failed. | At 2020-08-07T15:01:58Z an instance was started in respons

[2020-08-09 06:43] petrukngantuk opened #225 "Does this Mitigate AWS ALB Ingress Controller?"
Let's say that we have ALB that point to a service in spot instance, and spot instance will be terminated,
Does this tools mitigate / update the ALB Endpoints that pointed to Interrupted spot instance?

[2020-08-10 07:31] kavicse87 commented on #208
@haugenj any help / advise on this please?

[2020-08-10 11:50] YakobovLior commented on #223
Hey @haugenj
instead of performing custom script, is it possible to make the alert send some information based on Kubernetes labels?
For example, we have configured the Daemonset to work on specific node groups (with --set nodeSelector.lifecycle=<name>),
so we would like to have the ability to know from which node group the spot interrupt alert came.

Thanks,
Lior

[2020-08-10 13:07] ruecarlo commented on #223
@amrragab8080; I'm guessing the question is how to trigger that notification for the script to be executed and within which scope it will run.

By default the notification for termination is captured by the [aws node termination handler daemonset](https://github.com/aws/aws-node-termination-handler/blob/95fdc025df8f92b725f988869854917d961cc14b/cmd/node-termination-handler.go#L182) and handled/pass

[2020-08-10 13:33] amrragab8080 commented on #223
@ruecarlo,
It might be a more elegant solution if the daemonset launched a user specified sidecar container which handled the spot termination logic. Logical separation of the worker code and spot termination code would be better than trying to manage/monitor SIGTERM in the worker pod.

[2020-08-10 13:43] ruecarlo commented on #223
@amrragab8080  Yup, that's what I mean in regards to defining well which is the scope the signal will be handled and within which scope it gets executed.

The spot termination logic will still require access to your Deep Learning weights, wherever those are; A sidecar might be a good solution to get there;

[2020-08-10 13:58] amrragab8080 commented on #223
@ruecarlo, Thank you for the quick response

That correct, do you have an example of that?
In my case I have my weights stored on EFS, but could work with FSx, or EBS since I can pass my pvc into the sidecar.

[2020-08-10 14:56] ruecarlo commented on #223
Nope, I don' have any example at the moment, unfortunately @amrragab8080.

One of the things that was kind of preventing me so far from trying that is thinking about race conditions between the actual container and the sidecar. I've recommended so far to have the logic within the container to avoid potential race conditions on what finishes first and what is the state of the resources to free up/w

[2020-08-10 15:26] amrragab8080 commented on #223
Maybe a better question; does the aws-termination-handler support launching a user-specified pod sidecar currently? if so do you have an example of that.

Regarding the race conditions, I think that is something the user will need to maintain. I think the race-condition will be an edge case where the latest weights get transferred to S3. in my TF/PY container the SIGTERM can kill the training job

[2020-08-10 15:26] bwagner5 commented on #223
I agree with @ruecarlo, handling via SIGTERM in the application container is the best way to accomplish this today either with a sidecar container in the same pod or directly in the application container.

I'm not so sure it makes sense to include any additional functionality within aws-node-termination-handler since any checking pointing or application draining actions will be very application sp

[2020-08-10 16:33] haugenj commented on #208
@kavicse87 The "interruption log" you posted looks like a new [instance request](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/troubleshooting-launch.html) failure log, not an actual [interruption](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-interruptions.html) event. There isn't any relation between that error message and an interruption event that triggers the aws-node-termina

[2020-08-10 19:37] anders-ni opened #226 "UpdateStrategy Example"
When trying to set an updateStrategy to "RollingUpdate" it appears that the helm template doesn't apply it it properly.

When I set this in my values:
[code]

It renders in one line as `updateStrategy:  type: RollingUpdate` which is not valid yaml.

Is there an example of how to properly set the update strategy? Using v1.6.1

![image](https://user-images.githubusercontent.com/52253530/89823297-dce

[2020-08-10 20:53] pdk27 commented on #226
Thanks for reporting the issue. It turns out that the templates were missing the addition of a new line for updateStrategy.

You can make the changes in the [PR](https://github.com/aws/aws-node-termination-handler/pull/227) to unblock yourself until the changes are released.

[2020-08-11 14:21] benzch opened #229 "Unable to parse metadata response: Metadata request received http status code: 401"
Hello,

I recently had retirement event to one of my worker nodes. I noticed this worker isn't draining, I found this error in the logs

`2020/08/07 07:32:28 There was a problem monitoring for Scheduled Maintenance events: Unable to parse metadata response: Metadata request received http status code: 401`

This error occur every second
Result from worker :

`curl 169.254.169.254/latest/meta-data/e

[2020-08-11 14:29] bwagner5 commented on #229
It looks like you're running into a bug that was fixed in v1.6.0 (https://github.com/aws/aws-node-termination-handler/releases/tag/v1.6.0).  Some scheduled maintenance events do not have end times, but we were requiring a full parsing of the event with the end time. We removed that constraint and now allow end-time to be empty as of version v1.6.0.

Can you confirm if you are using a version < 1.6

[2020-08-11 14:31] benzch commented on #229
@bwagner5 sorry I didn't specify version. I am using 1.6.1

[2020-08-11 14:52] bwagner5 commented on #229
Thanks for the version info! I looked at the log more closely. It looks like the logic is working correctly to parse end time as start time which was the fix that was implemented. The error message about parsing end time is only a warning (https://github.com/aws/aws-node-termination-handler/blob/master/pkg/monitor/scheduledevent/scheduled-event-monitor.go#L99).

The node is scheduled to be drained

[2020-08-11 15:47] benzch commented on #229
@bwagner5
What did you find on the original error of 401 that disappeared only after deleting the pod?
it's always best practice to drain and stop the node immediately as sometimes when you get aws alert for retirement the hardware is already failing or might fail between the time of the alert and the time of retirement.

[2020-08-11 16:23] haugenj commented on #225
There's no unique functionality in aws-node-termination-handler to do this, but if you're using a k8s [Service](https://kubernetes.io/docs/concepts/services-networking/service/) you're good to go. The Service endpoint attached to the load balancer won't change and will automatically update the pod endpoints it forwards to when the pods are evicted and new pods are created.

This is assuming you're

[2020-08-11 19:36] petrukngantuk commented on #225
I see, thanks for the confirmation...

[2020-08-11 19:36] #225 closed

[2020-08-11 21:40] bwagner5 commented on #229
I'm not sure what was causing the 401. Maybe the IMDSv2 token expired, but if it did, NTH should fallback to IMDSv1, unless v1 is disabled.

[2020-08-12 21:24] pdk27 commented on #226
The fix is merged in, it should be released soon.

[2020-08-13 09:19] tarunptala opened #230 "does it work with alongside kube2iam?"
does it work with alongside kube2iam?

[2020-08-13 12:38] bwagner5 commented on #230
Yes, aws-node-termination-handler will work with kube2iam.

[2020-08-13 12:38] #230 closed

[2020-08-13 13:08] bwagner5 commented on #229
Sorry for the delay. I've looked into this further, but I still have a few questions. I came up with 2 things I think we can do to prevent this from happening, but some things still aren't making sense to me. I probably need some time to try to reproduce this case with the EC2 Metadata Mock.

Did you happen to see this log message when you were receiving the 401s "Unable to retrieve an IMDSv2 toke

[2020-08-14 12:23] bwagner5 commented on #226
eks-charts has been released: https://github.com/aws/eks-charts/releases/tag/v0.0.26

[2020-08-14 12:23] #226 closed

[2020-08-14 12:24] bwagner5 commented on #220
eks-charts has been released: https://github.com/aws/eks-charts/releases/tag/v0.0.26

[2020-08-14 12:24] #220 closed

[2020-08-14 12:24] bwagner5 commented on #204
eks-charts has been released: https://github.com/aws/eks-charts/releases/tag/v0.0.26

[2020-08-14 12:24] #204 closed

[2020-08-16 04:37] benzch commented on #229
Didn't see this error "Unable to retrieve an IMDSv2 token, continuing with IMDSv1".
I got 401 on /spot/instance-action metadata path.

Both suggestion sounds like good ideas to prevent this issue.

[2020-08-17 22:30] bwagner5 commented on #173
I don't see a way to investigate further and this issue has been stale for a while. Feel free to reopen if you have some more information that we can look into.

[2020-08-17 22:30] #173 closed

[2020-08-18 11:02] tarunptala opened #241 "Helm Chart Error :: function "mergeOverwrite" not defined"
Getting following error while installing helm chart.

[code]

K8s Cluster: 1.16.8 (Kops)
Helm Version

[code]

[2020-08-18 12:31] bwagner5 commented on #241
Looks like you'll need to be on at least Helm v2.13.1 for that function to work.

https://github.com/helm/helm/releases/tag/v2.13.1

Reproduction:

[code]

[code]

[2020-08-18 14:11] tarunptala commented on #241
I will check and update here. Thanks

[2020-08-18 17:59] akapshuk commented on #173
Hi! Unfortunately I don't have any logs as instance was terminated. Still if you notice traffic generated by that pod was ~200Mbits/second, which is pretty high even for metadata polling, but traffic went definitely via NAT gateway, for which I was billied pretty much. Also I saw this case only on that period of time on 2 instances and never seen after that in same cluster with same software versi

[2020-08-19 06:45] tarunptala commented on #241
All good after upgrading helm version. Thanks!

[2020-08-19 06:45] #241 closed

[2020-08-19 16:25] bwagner5 commented on #183
released! https://github.com/aws/aws-node-termination-handler/releases/tag/v1.7.0

[2020-08-19 16:25] #183 closed

[2020-08-19 16:30] bwagner5 commented on #173
- Do you have a webhook configured?
 - Is your Image Pull Policy the default "IfNoPresent"?
 - Do you have scheduled maintenance event handling enabled?
 - Was there a spot notification or scheduled maintenance event at the time (if enabled)?

[2020-08-20 04:09] DP19 commented on #229
@bwagner5  - Just opened a PR to put some retries in for getting info for both scheduled maintenance events and spot instance events. Could use some guidance on how best to test this!

[2020-08-20 13:22] bwagner5 commented on #229
@DP19 A unit test similar to this one would be good:

https://github.com/aws/aws-node-termination-handler/blob/24ff89c46173c56e14ed37eb26b9525bb9194e6c/pkg/ec2metadata/ec2metadata_test.go#L207-L228

You could add a counter in the test func and use it in the test http server to return a 401 the first time and then a 200 the second time.

[2020-08-20 15:21] goodboyMa opened #245 "support auto scaling ec2 terminated?"
Hello,
   I am using auto scaling to manage ec2.
   My ec2 instance is on demand.
   I found The documentation supports spot instances.
   Whether aws-node-termination-handler to support  termination of the instance by Auto Scaling?
Thk

[2020-08-20 15:29] bwagner5 commented on #245
Hey @goodboyMa !  Currently aws-node-termination-handler does not support termination events from ASG.  We only support spot interruption events and EC2 scheduled maintenance events.

However, we've been tracking an issue to add this functionality here: https://github.com/aws/aws-node-termination-handler/issues/14

[2020-08-20 15:29] #245 closed

[2020-08-26 09:06] gillg opened #247 "Question about Kiam and hostNetwork"
Hi,

I don't understand why we should add kiam whitelist provided in #187
In fact, in DaemonSet charts pod is configured with `hostNetwork: true`, so kiam should not intercept metadata call on host network interface.
But I also ask me why this pod needs "hostNetwork" permissions ?
It only needs metadata api access and kubernetes API... no ?

Regards

[2020-08-26 17:28] bwagner5 commented on #247
@gillg  The NTH pods need hostNetwork to work w/ IMDSv2 which by default only allows 1 network hop.

You may be correct about kiam not intercepting calls to when the pod is using HostNetworking.

Looks like the default setup is to put the iptables intercept rule on the Docker0 bridge interface:
https://github.com/uswitch/kiam/blob/0fe1a077e3a408cf47dea25ac83e14e367fb0bb9/cmd/kiam/agent.go#L64

@le

[2020-08-26 19:08] bwagner5 commented on #247
I'm pretty sure we can remove the kiam steps from the readme, thanks for bringing this up @gillg

[2020-08-26 19:15] gillg commented on #247
To be honest I think it's a good basic whitelist for kiam, but not mandatory for this project if kiam is correctly configured.

Last point, I'm not familiar with imdsv2 but what is changing ? If you use kiam agent proxy you not really use this feature ?

[2020-08-26 19:21] bwagner5 commented on #247
NTH defaults to use IMDSv2 and will fallback to IMDSv1 if it can't reach v2. The metadata service is the same in both versions (same paths and responses), but IMDSv2 requires a token and has a limit of 1 hop at the IP level.  I'm not sure how the kiam agent proxy works with IMDSv2, it may work, but haven't tried it.

"By default, the response to PUT requests has a response hop limit (time to live)

[2020-08-26 21:09] gillg commented on #247
Thanks for you blog article it was very interesting !
So, in my opinion (need some tests), if you not use kiam, you should use hostNetwork, but with kiam probably not.
It work as a kind of mock of IMDS. You install one agent (Daemonset) which capture all traffic to 169.254.169.254 with a dnat firewalling rule, to forward request to itself. It checks if requester pod is permit to assume any role (o

[2020-09-01 11:33] kemra102 opened #249 "JSON logging isn't truly JSON logging"
We have JSON logging enabled. But the messages are basically plain text (not quite truly Human readable). For example here is the log for a spot termination:

[code]

This is a string, with a regular string upfront and 2 embedded JSON data structures on the end. As such, automated JSON log parsing in products such as Logstash/ElasticSearch don't work. So even after turning on JSON logging if we wa

[2020-09-01 11:48] kemra102 opened #250 "Spot Termination events are logged dozens of times"
In our environments we are seeing a single Spot Termination event being logged in the region of 3-5 dozen times for the same event. All the log entries are 100% identical. This gives a false impression in our logging dashboard (and in our Grafana dashboards where we intend to surface this info to developers) that there has been multiple termination events when in fact only 1 has occurred.

[2020-09-03 10:22] leosunmo commented on #247
Hey, I just got to this now.
I had a colleague run this through and they found no issues with KIAM + NTH, so I must have not used `hostNetwork: true` or something when I first ran it, or something else went wrong.
So to me it would make sense to remove the docs since most people would use the Helm chart, which hardcodes `hostNetwork: true`, so the docs are of no use!

[2020-09-03 13:42] gillg commented on #247
For your information I opened an issue about hostNetwork and more generaly about security of helm chart. https://github.com/aws/eks-charts/issues/238

[2020-09-03 22:56] haugenj commented on #249
Hey @kemra102 !

I agree the JSON logging could be better. When we added JSON logging with Zerolog we wanted to make sure the default human-readable logs displayed in exactly the same format as they were before, in case anyone was scraping the logs and parsing them already. However, like you brought up this limits the JSON log format and keeps it from really being JSON logging. Since that time we'

[2020-09-03 23:22] haugenj commented on #250
The Monitor function is working as intended by running continuously and finding the event, but we should be deduplicating these events when they have the same EventID hash to skip sending them to the channel [here](https://github.com/aws/aws-node-termination-handler/blob/master/pkg/monitor/spotitn/spot-itn-monitor.go#L56)

[2020-09-03 23:28] kemra102 commented on #249
Hey @haugenj - thanks for responding so quickly!

At my current workplace we sadly do not have Prometheus, that would actually be my preference. We may have it in the future, but for the time being...

For the purposes of Logstash/Elasticsearch any "pure" JSON would be fine. Logstash would parse it for example in your sample snippet, you would have a field that has a key of `message` that has a va

[2020-09-05 02:13] leosunmo commented on #247
I'll link this here so we have it in this discussion as well.
https://github.com/aws/eks-charts/issues/238#issuecomment-687523076

I tested without `hostNetwork: true` and with the Kiam allowlist described in the docs, and it works fine. I verified that it is normally blocked by Kiam, and immediately got it working when the allowlist was added. I think we can probably drop the `hostNetwork: true`

[2020-09-14 08:02] olemarkus opened #254 "Configure behavior per node through annotations"
In clusters with multiple ASGs user for different types of workloads, it would be nice to be able to configure more of the NTH behavior through annotations rather than globally for the nodes the given daemonset is running on.
Cluster Autoscaler already has something similar where one can add annotations on nodes and pods preventing evictions/downscale.

For our use case, annotations for whether to

[2020-09-22 00:39] estahn opened #258 "Network usage"
Unless I'm reading this wrong, `aws-node-termination-handler` seems fairly network heavy:

![image](https://user-images.githubusercontent.com/362174/93834620-d7efee00-fcbf-11ea-87d2-249c9330ca78.png)

Is there any explanation for this?

[2020-09-22 18:51] bwagner5 commented on #258
We're investigating this.  NTH's only network calls are the EC2 Instance Metadata calls every 2 seconds and the Drain call to the k8s control plane when a termination notice is received.

It might be possible that cross-az traffic could be high if a Pod Disruption Budget is preventing a pod from being drained off of a node, since NTH will keep trying continuously to drain the node. But it seems al

[2020-09-22 18:53] bwagner5 commented on #258
1. Are all of the pods showing high network usage or is it just a subset of them?

2. Do you have the prometheus metrics endpoint enabled? If so, what is the scrape interval configured on prometheus?

3. Logs would be helpful to see if there is an error case being hit, or if this is just normal operation.

4. Lastly, tcpdumps on the instance would also help to see if there is additional network tr

[2020-09-22 23:15] estahn commented on #258
@bwagner5 I will need to dig a bit deeper into this. I think the Grafana dashboard might be a bit confusing. `Bandwidth received` seems to be total and not per second. So in this case it appears to be fine.

I will close this for now and reopen if I find this to be an issue.

Thanks for your response.

[2020-09-22 23:15] #258 closed

[2020-09-25 17:49] golance-mightydevops opened #260 "Got no slack notification"
This morning I got ec2spot instance running MongoDB replica node terminated and I got no Slack notifications
posted.

### So the question:
1. Is the notification posted only on the successful finish of the operation? I.e. no pre-start notification?
2. Nuance of my particular case: Even if we do cordon/drain the node with the help of aws-node-termination-handler, it would not be able to schedule th

[2020-09-25 18:00] bwagner5 commented on #260
The webhook will only send if the node successfully cordoned and drained.  It might be a good idea to extend that to failures too.  One known reason why NTH may fail to drain a node is due to a PodDisruptionBudget (PDB). Is there a PDB applied to one of the pods on the node you are draining? Since you mentioned the pod can't be rescheduled to another node, this may be preventing NTH from draining

[2020-09-28 16:48] VladimirKuletski opened #261 "No CloudWatch logs for SpotInterruptionHandlerFunction"
Log group and log stream are not created.

File location: workshops/ec2-auto-scaling-with-multiple-instance-types-and-purchase-options/spot-interruption-handler.yaml

[2020-09-28 16:58] VladimirKuletski commented on #261
Wrong repo

[2020-09-28 16:58] #261 closed

[2020-09-29 15:52] #208 closed

[2020-10-05 10:44] tavisca-cchowdhary opened #263 "While trying to upgrade getting error daemon set in inmutable"
`Error: UPGRADE FAILED: cannot patch "node-termination-handler-aws-node-termination-handler" with kind DaemonSet: DaemonSet.apps "node-termination-handler-aws-node-termination-handler" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app.kubernetes.io/instance":"node-termination-handler", "app.kubernetes.io/name":"aws-node-termination-handler", "kubernetes.

[2020-10-08 21:52] bwagner5 commented on #14
Hey everyone! 👋  We have listened to your request to expand the aws-node-termination-handler to include all EC2 instances and not just Spot.

We have pushed a branch to the repo [queue-processor]( https://github.com/aws/aws-node-termination-handler/tree/queue-processor) that allows aws-node-termination-handler to run as a deployment in your cluster and respond to EventBridge termination events fro

[2020-10-08 21:52] bwagner5 commented on #95
Hey everyone! 👋  We have listened to your request to expand the aws-node-termination-handler to include all EC2 instances and not just Spot.

We have pushed a branch to the repo [queue-processor]( https://github.com/aws/aws-node-termination-handler/tree/queue-processor) that allows aws-node-termination-handler to run as a deployment in your cluster and respond to EventBridge termination events fro

[2020-10-08 21:53] bwagner5 commented on #181
Hey everyone! 👋  We have listened to your request to expand the aws-node-termination-handler to include all EC2 instances and not just Spot.

We have pushed a branch to the repo [queue-processor]( https://github.com/aws/aws-node-termination-handler/tree/queue-processor) that allows aws-node-termination-handler to run as a deployment in your cluster and respond to EventBridge termination events fro

[2020-10-16 09:12] johnchenghk01 opened #265 "How to send node label to webhook?"
Is it able to send some node labels to the webhook?

[2020-10-16 15:22] bwagner5 commented on #265
Currently no, NTH does not allow you to add node labels to the webhook template.  I think this would require a fairly small change to make this possible though since we already fetch node label in the node pkg. We'd just need to join that info in the existing composite struct that the webhook template uses for data.

[2020-10-16 15:24] bwagner5 commented on #263
Sorry for the delay!  I believe this is because we changed from using the `beta.kubernetes.io/os` key to the regular `kubernetes.io/os` key since the beta ones are deprecated

[2020-10-16 15:26] bwagner5 commented on #250
this was released in v1.8.0 https://github.com/aws/aws-node-termination-handler/releases/tag/v1.8.0

[2020-10-16 15:26] #250 closed

[2020-10-16 15:27] bwagner5 commented on #249
JSON logging enhancements were released in v1.8.0 https://github.com/aws/aws-node-termination-handler/releases/tag/v1.8.0

[2020-10-16 15:27] #249 closed

[2020-10-16 15:28] bwagner5 commented on #229
This was released in v1.8.0 https://github.com/aws/aws-node-termination-handler/releases/tag/v1.8.0

[2020-10-16 15:28] #229 closed

[2020-10-19 04:23] tavisca-cchowdhary commented on #263
@bwagner5 I guess, then to upgrade it we need to uninstall and install it again!
Right?

[2020-10-19 15:38] bwagner5 commented on #263
Yes, that is correct

[2020-10-19 19:32] tavisca-cchowdhary commented on #263
@bwagner5 Thank You.

[2020-10-19 19:32] #263 closed

[2020-10-20 01:24] JuanitoFatas commented on #95
For future people arrive here, the queue-processor branch is now gone and merged in https://github.com/aws/aws-node-termination-handler/pull/266.

[2020-10-20 21:50] bwagner5 commented on #247
https://github.com/aws/aws-node-termination-handler/pull/270

[2020-10-22 13:01] bwagner5 commented on #247
host network is now opt out and has been released!

[2020-10-22 13:01] #247 closed

[2020-10-22 13:02] bwagner5 commented on #95
Assets have been created so that it's easier to test the new queue-processor functionality!  https://github.com/aws/aws-node-termination-handler/releases/tag/v1.9.0

Post back here if you've tried it out!

[2020-10-22 13:03] bwagner5 commented on #14
Assets have been created so that it's easier to test the new queue-processor functionality! https://github.com/aws/aws-node-termination-handler/releases/tag/v1.9.0

Post back here if you've tried it out!

[2020-10-28 21:11] bwagner5 opened #271 "test"
test

[2020-10-28 21:11] #271 closed

[2020-10-29 18:02] blakestoddard opened #272 "Failing to drain/cordon causes CrashLoopBackOff"
[Queue processor specific]

Running into issue here around the [behavior of exiting with an error code of `1`](https://github.com/aws/aws-node-termination-handler/blob/5150b31c819a26c2cc80f812ffb0a0b317290b56/cmd/node-termination-handler.go#L260-L280) when a message is pulled from SQS and then cordoning or draining of that node fails.

In our use-case, we have multiple EKS clusters in an account i

[2020-10-29 18:11] bwagner5 commented on #272
There's a couple options that could mitigate this behavior:

1) Extend the ASG tagging to determine if NTH should manage the ASGs to EC2 Instance tags and only cordon/drain if the tag is present. (pro: pretty simple to implement, but a con is that EC2 api calls would increase)

2) The cluster-api machine spec implementation for AWS has a separate process that adds instance-ids to the eventbridge r

[2020-10-29 18:41] blakestoddard commented on #272
I think additional ASG-propagated instance tagging could be a solution. Or perhaps `NTHManagedASG` becomes configurable? https://github.com/aws/aws-node-termination-handler/blob/5150b31c819a26c2cc80f812ffb0a0b317290b56/pkg/monitor/sqsevent/sqs-monitor.go#L35 This would give you additional control over what NTH instances manage what EC2 instances, without additional calls to the EC2 API beyond what

[2020-10-29 18:43] blakestoddard commented on #272
Unconsidered here is what happens to that SQS message? Does it stay in the queue forever? Does it get dropped if it's found to not be managed by this particular NTH instance?

If it's the latter, I think you could get away with per-cluster SQS queues/events as a path for running multiple NTH installs in a single account.

[2020-10-29 18:50] bwagner5 commented on #272
It will not be dropped immediately, but the queue should be set to discard after a time period. The readme of NTH sets it at 5 mins I believe. That way, if there is a problem with the EC2 api, K8s api, or a node is having problems, the message will get retried.

[2020-10-29 18:53] blakestoddard commented on #272
Oh sweet, then you could still run multiple NTH installs out of a single queue then as long as NTH isn't deleting items that it fails to process!

[2020-10-29 18:57] bwagner5 commented on #272
Well I'm not sure it's a great idea still. It doesn't delete it, but depending on your visibility timeout setting on cloudwatch (I think it's set at 20 sec), you could get unlucky and have the wrong NTH's pulling it every time until it hits the 300 sec deletion time.

[2020-11-02 20:24] hamishforbes opened #273 "Configurable taint effect"
It would be great if the taint applied to nodes when they are due to terminate could be configured as `NoExecute`.

Currently the taint is only really useful for informational purposes as cordoning the node already applies a `NoSchedule` taint.

I'd like to be able to set terminating nodes as `NoExecute` in order to stop daemonset pods gracefully (specifically to allow Consul agents to leave the c

[2020-11-02 20:35] bwagner5 commented on #273
I think this makes sense to add.  We're getting a lot of configuration, so we probably need to refactor some of the config codebase to expose it in a better way than what is currently there.

[2020-11-05 00:17] backjo opened #277 "Support instance metadata skipping/bypass via configuration"
It would be useful to support bypassing the IMDS metadata scrape at startup.

We're currently running the NTH Queue Processor, which consumes SQS events using IRSA-based credentials. Since this deployment is only relying on the queue events, we restrict it's access to IMDS via NetworkPolicy (global restriction in our cluster, with only a few select deployments allowed to access IMDS).

Right now,

[2020-11-05 14:21] bwagner5 commented on #277
Agreed, queue-processor mode should definitely be able to operate with IMDS disabled without significant startup delays. I can do some tests, but maybe just decreasing the retries on the startup requests would be enough.   I'm hesitant to add another flag to bypass, since there's already a ton of configuration and I think it's getting to be a little too much, but that may be the best solution.

IM

[2020-11-06 05:50] backjo commented on #277
We aren't today - potentially in the future though.

[2020-11-06 20:08] blakestoddard commented on #272
I put together a custom rev of the customizable tag in https://github.com/blakestoddard/aws-node-termination-handler/tree/managed-asg-tag and am running it in four of our clusters (non are prod).

[2020-11-10 20:32] paalkr commented on #272
I would just like to drop in and say that I'm facing the exact same issue. We are running several K8s clusters and auto scaling groups in the same VPC. A dedicated SQS queue and a set of rules are deployed pr cluster, put the ec2 events cannot be filtered based on the Auto Scaling groups and ends up in all queues.

I think a solution where nth just skip processing nodes that are not part of the cl

[2020-11-10 21:49] brycahta commented on #277
@backjo -- feel free to take a look at #281 which addresses this issue. When setting `metadataTries=0` I'm seeing startup time drop from ~40sec to ~2sec (more details in PR)

[2020-11-10 22:59] bwagner5 commented on #272
good feedback @paalkr!

Can you scope your rule to only send events from certain ASGs?

https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_PutRule.html
https://docs.aws.amazon.com/eventbridge/latest/userguide/filtering-examples-structure.html

[2020-11-11 06:12] paalkr commented on #272
Yes, that's a possibility for the ASG events like
EC2 Instance-terminate Lifecycle Action

But unfortunately its not possible for the ec2 events like
EC2 Instance State-change Notification
EC2 Spot Instance Interruption Warning
EC2 Instance Rebalance Recommendation

Creating dedicated rules pr AutoScaling Group could also quite easily in our use case result in more then 100 EventBridge rules for t

[2020-11-11 15:21] jmhoeft opened #285 "Support for EC2 Instance rebalance recommendation"
The new EC2 instance rebalance recommendation feature seems like a great fit for this project.  https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/rebalance-recommendations.html

It would be great to have the option to drain a node when rebalance recommendation signal occurs in both IMDS and queue processor mode.

It would also be nice to be able to just cordon nodes if they have received this si

[2020-11-11 15:26] jmhoeft commented on #285
I should read the docs! Seems like its already there.

[2020-11-11 15:26] #285 closed

[2020-11-12 14:15] bwagner5 commented on #272
ah gotcha, sorry lost that context from the original post. We will try to get the instance tag check in soon, I think it would be a good idea to fallback to instance check on ASG as well just in case there are rate limit issues with ASG describe-tags call.

[2020-11-12 17:26] blakestoddard commented on #272
Do you have any interest in a PR for my approach, too @bwagner5? There's no additional API calls needed (and would be just a general nice-to-have anyway since the current tag key is pretty broad).

https://github.com/aws/aws-node-termination-handler/compare/main...blakestoddard:managed-asg-tag

[2020-11-12 21:35] bwagner5 commented on #272
I'm hesitant to make any more configuration. I'm open to feedback, but it seems simpler to stick with the default key and not allow it to be configurable.  I'm not seeing much value being added from making that tag configurable, is there a specific reason?

I was thinking that `aws-node-termination-handler/managed` would be the general tag key for any resource that NTH is managing whether it is at

[2020-11-12 21:39] paalkr commented on #272
So is the plan to just skip processing events for instances that is added to the queue, if the instance is not registered as a node in the current cluster?

[2020-11-12 21:41] bwagner5 commented on #272
Skip processing events for nodes that are not tagged with `aws-node-termination-handler/managed` or reside in an ASG tagged with that tag.

[2020-11-12 21:41] blakestoddard commented on #272
Yeah, my approach here doesn't require additional API calls versus also checking the instance tags instead (you also don't have to worry about propagating that tag to existing instances if you add it to an existing ASG). There's less feedback loops to carry through by not having to check tags in two spots. And even with checking the instance tag, you'd still want that to be some level of configura

[2020-11-12 21:43] paalkr commented on #272
That is not a guarantee for the node being part of the current cluster.

[2020-11-12 21:48] bwagner5 commented on #272
👍   ah gotcha (both of you 🙂 ).  I'm cool with the tag configuration approach then.

@paalkr  Do you think that would work for your case as well (specifying different tags for each of your clusters)?

`aws-node-termination-handler/managed/cluster1`
`aws-node-termination-handler/managed/cluster2`

[2020-11-12 21:49] paalkr commented on #272
Yes, that would work. Or even better maybe
`aws-node-termination-handler/managed: cluster1`
`aws-node-termination-handler/managed: cluster2`

[2020-11-12 21:51] bwagner5 commented on #272
Feel free to PR that change then @blakestoddard  😀

[2020-11-12 21:59] blakestoddard commented on #272
PR for the configurable tag change opened. I can change it look for a value, too, but that's some more significant code changes that I'm not sure are worth the complexity.

[2020-11-12 22:01] paalkr commented on #272
Excellent! Key or value, it doesn't really  matter. Both will work :)

[2020-11-17 17:40] bwagner5 opened #292 "Queue-Processor should catch ASG Launch Lifecycle Hook"
NTH Queue-Processor should catch the ASG Launch Lifecycle Hook and complete it once the node has joined the k8s cluster successfully. Since ASG considers the instance ready when EC2 health checks pass rather than when it actually joins the k8s cluster, if ASG performs Launch-Before-Terminate, a node could be terminated before the new node is ready to go.

[2020-11-17 17:41] bwagner5 opened #293 "Queue-Processor should catch AWS Health Events"
NTH Queue-Processor should catch AWS Health Events from EventBridge to proactively handle EC2 maintenance events.

[2020-11-18 19:30] bwagner5 opened #295 "Add ECR Hosted Image for NTH"
Since dockerhub has begun rate limiting pulls, NTH should offer an ECR hosted image.

[2020-11-19 23:13] bwagner5 opened #297 "Dedupe Webhooks for queue-processor"
Events like spot rebalance recommendation, asg lifecycle hooks, spot ITN, and ec2 instance status change can cause multiple webhooks to fire, one for each event on the same instance.  NTH should dedupe webhooks that have already been sent for an instance since the drain status has not changed.

[2020-11-23 10:08] alexmbird opened #301 "Chart version wasn't bumped for v1.11.0"
In the [commit](https://github.com/aws/aws-node-termination-handler/commit/1fc1b23694c450b9e14c45b23a21036386a933e9#diff-4d15097d2119b780f1c3127a7aa0f46974b835b3996e020a2ac77067d58e585b) for updating the chart to install the new version of NTH that supports `managedAsgTag`, the Chart version wasn't updated and remains at `0.12.0`.  This means my copy of Helm is steadfastly refusing to download the

[2020-11-24 02:27] philomory commented on #181
@bwagner5 Those links are 404s for me, has that branch been merged at this point?

[2020-11-24 09:48] alexmbird commented on #301
Many thanks.  I am using eks-charts, but as I'm subscribed to this repo I saw the change and assumed `v1.11.0` was ready to go.

I've applied the `0.13.0` chart and it's looking good.

[2020-11-24 09:48] #301 closed

[2020-11-24 19:25] bwagner5 commented on #181
@philomory Yes, the queue-processor branched is merged into main now.

It was first released in https://github.com/aws/aws-node-termination-handler/releases/tag/v1.9.0

I'd recommend using the latest release, https://github.com/aws/aws-node-termination-handler/releases/tag/v1.11.0 to try it out

[2020-11-24 21:03] philomory commented on #181
So, should this issue be closed?

[2020-11-24 22:15] #181 closed

[2020-11-24 22:15] #14 closed

[2020-11-24 22:15] #95 closed

[2020-11-25 04:23] pahud commented on #295
The support is very important as it's now affecting many CDK users with aws-eks construct.

[2020-11-25 16:49] gillg opened #304 "Make helm podAnnotations granular by daemonset / deployment"
Annonation could be used for multiple things, but for example, with Kiam, you manage IAM roles virtualy attached to pods via these annotations.

NTH deployment, needs a specific role, but daemonset not needs it.
For now... I made a dirty trick to handle that.

[code]

[2020-11-25 22:08] bwagner5 commented on #304
You can't use the deployment and daemonset together with helm, so adding a podAnnotation would only add it to the daemonset or the deployment depending on if you have `enableSqsTerminationDraining: true`.

https://github.com/aws/aws-node-termination-handler/blob/main/config/helm/aws-node-termination-handler/templates/daemonset.linux.yaml#L1

https://github.com/aws/aws-node-termination-handler/blob

[2020-11-25 22:19] gillg commented on #304
Oops... Sorry, my bad ! I just started to try a migration to the new model with sqs and I wrote this issue to not forget.
So everything is perfect 😅

[2020-11-26 09:11] universam1 opened #305 "feature flags for Queue vs IMDS?"
From the READMEs there is no information which ENVs are enabling or disabling Queue or respectively IMDS.

* It looks like from code that `ENABLE_SQS_TERMINATION_DRAINING`  would enabled Queue Processor!?
* it looks like from code that
  * `ENABLE_SPOT_INTERRUPTION_DRAINING`
  * `ENABLE_SCHEDULED_EVENT_DRAINING`
  * `ENABLE_REBALANCE_MONITORING`
will enable the IMDS mode!?

[2020-11-27 01:31] kxesd opened #306 "Invalid value: "webhookTemplate""
Helm version: `v3.4.0`
Helm chart version: `aws-node-termination-handler-0.13.0`
App version: `1.11.0`
Kubernetes version: `1.18.10`

values.yaml
[code]

Install command:
[code]

When installing aws-node-termination-handler from the helm chart I am getting the following error:
[code]

As the error suggest a volume name cannot contain an upper case character. If I output the helm output to yaml and

[2020-11-27 03:58] Niksko opened #307 "Multiple events for the same node cause a crash"
Currently I'm sending both EC2 state change events and ASG lifecycle events to the NTH in queue processor mode. This sounds like it should be supported, however in practice what seems to be happening is:

1. ASG lifecycle event is handle. Node is cordoned and drained.
2. EC2 state change event for termination comes though, node is now no longer there, so the NTH crashes.

I'm not convinced that th

[2020-11-27 05:39] bwagner5 commented on #306
I just merged the fix in for this https://github.com/aws/aws-node-termination-handler/pull/300 thanks to @n0gu ! We will get a release out soon.

[2020-11-27 22:06] bwagner5 commented on #307
We've discussed a related situation previously here https://github.com/aws/aws-node-termination-handler/issues/272

I think this issue https://github.com/aws/aws-node-termination-handler/issues/297 could be used to mitigate this situation but we may not be able to run multiple replicated NTH pods reliably.

I'd be interested to see if using ec2 instance tags to turn on and off NTH management could

[2020-11-30 02:28] Niksko commented on #307
I'd prefer the crash removal if possible. I can understand why not being able to find a node might have been worthy of causing a crash, but it seems increasingly that this is a common scenario.

[2020-11-30 15:03] universam1 commented on #307
Agree facing same issue - in our case we basically see the pod crashing all the time

[2020-11-30 15:35] universam1 commented on #295
Kind of funny and sad that AWS distributes over docker hub :smile:

[2020-11-30 20:33] bwagner5 commented on #305
@universam1 that is correct.

 - ENABLE_SPOT_INTERRUPTION_DRAINING
 - ENABLE_SCHEDULED_EVENT_DRAINING
 - ENABLE_REBALANCE_MONITORING

are only used to turn on or off features of IMDS mode processing.

Queue Processor Mode can be configured externally by your EventBridge rules, so we only have the one env var `ENABLE_SQS_TERMINATION_DRAINING`

The environment variables are shown in the respective m

[2020-11-30 20:35] #304 closed

[2020-11-30 21:08] universam1 commented on #305
Thank you for the clearification - this information is good to know!
Would be good to add this to the docs - I cannot spot the ENV variables described anywhere in the link mentioned.
Thank you

[2020-11-30 21:28] bwagner5 commented on #305
Yeah docs update is probably warranted. It doesn't call them out explicitly, it just shows them used in the helm command examples.

[2020-11-30 21:49] bwagner5 commented on #277
released in https://github.com/aws/aws-node-termination-handler/releases/tag/v1.11.0

[2020-11-30 21:49] #277 closed

[2020-11-30 22:16] paalkr commented on #307
I still observe this issue with 1.11 if I enable both ASG lifecycle events
[code]

and EC2 state change events
[code]

[2020-12-01 01:14] philomory commented on #14
@bwagner5 The new functionality is very nice, but it's a _lot_ more complex to set up than the prior method or the proposed solution based on `acpid`. Is there any chance for some more detailed guidance on how the setup of this works, beyond what's in the readme? For example, if I have multiple clusters, each with multiple worker groups, do I need an SQS queue per cluster? Per worker group?

Selfi

[2020-12-04 09:58] universam1 commented on #272
The original problem is not solved yet - the filter is great but it does not apply for all conditions like mentioned in #307

[2020-12-08 13:17] universam1 opened #309 "hangs: SQS messages not being processed"
We see with v1.11 at least the issue that it just stops to process further messages. In SQS console it is visible that messages are queing up.
Restarting the pod solves the problem, all messages will be processed.

For some reasons it stops or hangs on something on occasion without a message, no way to resurrect it other than to restart the pod

Is it possible that Golang context with timeouts are

[2020-12-08 13:53] universam1 opened #310 "Queue Processor: should be multithreaded, cannot keep up"
It turns out that messages queue up if the NTH cannot continue! The more nodes are rotating the higher the chance that it will not catch up in time - we see this happening.
For instance NTH is busy retrying to evict an unevictable pod (because of PDB limits) it will not process other messages and eventually be too late.

Its a design dept from previous implementation that was always single process

[2020-12-08 21:23] haugenj commented on #309
Hey, sorry to hear things aren't working right, sounds like we might have a bug on our hands.

Can you provide any logs that might help us figure out what's going on? The event loops that processes SQS messages shouldn't ever stop, and afaik there are timeouts on the k8s API calls to prevent them from hanging so I'm not sure what our culprit might be. Perhaps this is related to #307 where the pod

[2020-12-08 21:27] haugenj commented on #310
I'm not sure I agree with spinning up more threads to process these events, that seems like a symptomatic fix that wouldn't address the underlying root cause of why NTH is failing to process events. If we don't solve the hanging issue, I fear we could spin up many threads that all end up hanging, leading to a memory leak. Thoughts?

[2020-12-09 08:14] universam1 commented on #309
Thank you for your response!

I was looking for any logs in this regard but unfortunately not able, which is terrible because I have therefore no information to search and find an instance in this situation.

Only indicator I find is the AWS Console of SQS that reports that a couple of "Messages available" are in the queue, hence they have not been consumed by the NTH. Maybe an idea could be to se

[2020-12-09 08:20] universam1 commented on #310
I think these are two independent issues which might theoretically build up but I cannot believe that can become a memory leak that soon. Goroutines are so lightweight that they should always be used whereever applicable.

But I definitely see in our clusters when a couple of nodes roll at the same time, and NTH is busy retrying to evict an unevictable pod (because of PDB limits) it will not proce

[2020-12-09 11:40] universam1 commented on #307
@haugenj anything we can do to get a fix? Would you accept a PR?

[2020-12-09 16:54] haugenj commented on #307
PRs are always welcome!

If you could include a test to validate this scenario that would be 💯

[2020-12-09 17:10] haugenj commented on #310
I see, I'll mark this as an enhancement for now.

You _could_ run multiple replicas of NTH, but I think you'll still run into problems due to #307

[2020-12-09 18:32] brycahta commented on #305
Merged doc updates; closing

[2020-12-09 18:32] #305 closed

[2020-12-09 18:41] haugenj commented on #309
Gotcha, if you're able to gather logs please update us here. @brycahta and I walked through the code again to see if we missed anything obvious but we didn't find anything that stood out.

Could you also post your config? Maybe that would give us some hints.

If you're not using custom managed ASG tags you could try using version 1.10.0 to see if the same issue arises. And if you're not checking f

[2020-12-10 14:20] universam1 commented on #307
@haugenj fixed this issue by #313

Background: went all the way back, instead of just removing the os.exit(1) found that actually the nodeName was empty but not verified.
The existing unit test was flawed in this regard.

The empty nodeName parsing derives from `EC2.DescribeInstances`  that have the metadata of `PrivateDnsName` empty, simply because the node is not running any more.

So created a

[2020-12-10 16:30] mikesplain opened #315 "Unable to parse scheduled event end time"
Hello! I was just looking at one of our instances running the aws-node-termination-handler after getting a ec2 degredation email about it.  I was curious if NTH had removed the instances since we have `ENABLE_SCHEDULED_EVENT_DRAINING` enabled.

We are running `amazon/aws-node-termination-handler:v1.11.0` and  we're using kiam underneath for IAM access.

[code]

Let me know if any more info would b

[2020-12-10 17:20] #307 closed

[2020-12-10 18:58] haugenj commented on #315
NTH doesn't actually terminate instances, it'll just drain and/or cordon them. To see if NTH handled this event correctly you can check the node to see if it's been tainted with `aws-node-termination-handler/scheduled-maintenance`.

This error is showing up because the maintenance event didn't include an end time. It continues to appear because it's logged during the event object creation, and we

[2020-12-10 19:51] mikesplain commented on #315
@haugenj Right, my description skipped a couple of those draining steps, currently we have a process with node-problem-detector and the descheduler that take care of troubled instances similar to this. Sorry for that!

I just checked, the node is not tainted and is still triggering that log message. I've turned up logging to debug but wasn't able to get any more details.  When I check the event in

[2020-12-10 20:27] haugenj commented on #315
I would suspect it's because `NODE_TERMINATION_GRACE_PERIOD` is set too low, or not set at all (it defaults to 120 seconds). NTH won't perform the drain until `NODE_TERMINATION_GRACE_PERIOD` seconds before the start time of the event, so for your case it won't start the drain until Dec 28. Code handling that is [here](https://github.com/aws/aws-node-termination-handler/blob/5150b31c819a26c2cc80f81

[2020-12-11 10:11] sarahhodne opened #316 "Handle ELB instance deregistration"
We've noticed in our production environment that we have a need for something to deregister nodes from load balancers as part of the draining procedure, before the instance is terminated. We're currently using [lifecycle-manager](https://github.com/keikoproj/lifecycle-manager) for this, but it would be nice if this was handled by the AWS Node Termination Handler instead.

The reason this is needed

[2020-12-14 05:02] sudo-justinwilson opened #321 "Instances have status of Ready,SchedulingDisabled when REBALANCE_RECOMMENDATION occurs"
**What happened**:
We're running a 1.18 kubernetes cluster on EKS, and the worker nodes are a mixture of OnDemand and Spot instances. The spot instances use the node-termination-handler (NTH).
After enabling the `ENABLE_REBALANCE_MONITORING` variable, we noticed nodes were getting a `SchedulingDisabled` status, which prevents pods from getting scheduled to the node.

[code]

We can also see in the

[2020-12-14 09:28] gdziwoki commented on #321
I am seeing a similar behaviour. I get nodes in SchedulingDisabled because of rebalance recommendation, but node group min size is reached, so cluster autoscaler does not terminate that node.
If the worker group is increased, that node will get terminated.

[2020-12-14 14:05] gdziwoki commented on #321
We are experiencing the same behaviour.
In our case this seems to be connected with minimal group size - nodes still get marked as ShedulingDisabled, but are not terminated by CA, because group size is at minimum.

[2020-12-14 22:27] haugenj commented on #297
I'm gonna leave this for now, if this is affecting anyone please comment here and we'll increase the priority

[2020-12-14 22:31] haugenj commented on #272
This should be fixed with the release of v1.11.1 ! If not please reopen and we'll take another look (and maybe fully remove those os.Exit(1)s)

[2020-12-14 22:31] #272 closed

[2020-12-14 22:33] sudo-justinwilson commented on #321
Interesting, yeah our ASG isn't at the minimum size. This occurs when there are 11 nodes and the minimum size is 2:

[code]

[2020-12-14 22:47] bwagner5 commented on #306
sorry for the delay, but v1.11.1 is released now!

[2020-12-14 22:47] #306 closed

[2020-12-16 16:43] yuri-1987 commented on #316
same issue here, in addition, when termination handler cordons node, the node marked as `unschedulable`,
the service controller removes cordoned nodes from LB pools, it can potentially drop in-flight requests, there should be a better process for a node draining,
1. taint the node (don't cordon)
2. find elb's/target groups and safely de-register the node
3. cordon
4. drain

relevant issues:
https:

[2020-12-16 21:24] bwagner5 commented on #295
sorry for the delay, you can use this now: https://gallery.ecr.aws/r6b0f9a1/aws-node-termination-handler

I'll be updating the automation and docs shortly, but the latest v1.11.1 is available there now.

[2020-12-16 21:27] bwagner5 commented on #295
Windows will be available there after automation is done, so if you need Windows, hang tight.

[2020-12-16 23:36] bwagner5 commented on #321
This behavior is expected when running NTH in IMDS mode.  When running the NTH DaemonSet (IMDS mode), then on Spot Rebalance Recommendation, NTH will only cordon the node. We do this because we don't control the nodes actual termination and the event is only a recommendation. But, if you have ASG configured properly, it should terminate the node for you after launching a replacement. If some other

[2020-12-16 23:39] bwagner5 commented on #316
I'm definitely interested in looking into this more. I've asked @kishorj who works on the aws-load-balancer-controller his thoughts since there needs to be a careful dance between the LB controller and NTH in the draining process. There might be more we can do in that controller without involving NTH as much. But if we need to add this logic to NTH, then I'm not opposed

[2020-12-17 17:57] yuri-1987 commented on #316
Hi Brandon, thank you for the quick response. I think an external tool such as NTH is suitable to handle such logic. Even if Kubernetes contributors solve it internally, it won't manage all cases such as draining due to spot interruptions, AZ rebalance, or spot recommendations. The current bug of removing cordon nodes immediately from the load balancer is four years old, if the service controller

[2020-12-19 05:03] guan840912 commented on #295
Hi @bwagner5, about this issue https://github.com/aws/aws-cdk/pull/12141 .
this PR https://github.com/aws/aws-cdk/pull/12141 waiting for `0.13.2` release.
<img width="1104" alt="截圖 2020-12-19 下午1 02 46" src="https://user-images.githubusercontent.com/46012524/102681207-81307c80-41fa-11eb-9d62-24cd57231e8b.png">

[2020-12-21 10:32] universam1 commented on #310
@haugenj @bwagner5 submitted a PR #307  contribution that addresses this issue, thank you for considering

[2020-12-21 21:42] matt-demers opened #331 "Skip draining nodes which have already been deleted"
I am running the NTH in QueueProcessor mode, and am trying to work around this issue.

When a node is deleted by an external source, such as terminating the instance directly in the console, the NTH prints out the following error message:

[code]

Since the node was already deleted from kubernetes by the time the NTH gets the message from the SQS queue, it fails to lookup the node through kubectl,

[2020-12-21 23:51] bwagner5 commented on #331
Which version of NTH are you using?  In v1.11.1 we merged in a fix for https://github.com/aws/aws-node-termination-handler/issues/307 which would query the instance via the EC2 API and check if a DNS name is there, if it's empty (meaning the instance is terminated) it would skip. It looks like this may not work in your case since it looks like it's getting a dns name which means the instance is no

[2020-12-22 00:18] matt-demers commented on #331
Ah yes I was running version v1.11.0. Upgrading to v1.11.1 fixes my issue. The node is shutdown externally and the NTH doesn't crash.

Thanks for the help

[2020-12-22 00:18] #331 closed

[2020-12-23 16:56] bwagner5 commented on #295
Sorry for the delay on 0.13.2, I've ran into some issues in the release pipeline for windows. I'll get it out as soon as possible.

[2020-12-23 23:36] bwagner5 commented on #295
Just pushed the v0.13.2 helm chart for NTH which uses the ECR public image by default: https://github.com/aws/eks-charts/releases/tag/v0.0.39

[2020-12-23 23:37] #295 closed

[2020-12-28 16:07] bwagner5 commented on #321
Is there any interest in having IMDS mode configurable as to what action to take when a Rebalance Recommendation event is received? That way you could have the option to just cordon or both cordon and drain. It would be similar to the `--cordon-only` configuration we have now but more fine grained for individual events.  We could even add a dry-run for the individual events if you just wanted to s

[2020-12-29 15:35] arturas-d opened #333 "Liveness probe support request"
We ensure compliance of Kubernetes Cluster with company policies using Gatekeeper. One of the main policies is ensuring we have a liveness probe to helps the kubelet know when it should restart a container. Without a defined liveliness probe we simply can't deploy aws-node-termination-handler on our cluster as it breaks required policies.
Is there any recommended command to define liveness probe a

[2020-12-29 18:25] bwagner5 commented on #333
I think the liveness probe is a reasonable thing to add to aws-node-termination-handler especially when operating in queue-processor mode (running as a K8s Deployment).

IMDS mode operates as a DaemonSet and by default runs w/ HostNetworking, meaning it shares the root network namespace of the node it's running on. Exposing a liveness endpoint in the root network namespace might be problematic bec

[2020-12-29 18:30] bwagner5 commented on #333
@arturas-d you also asked if there was something existing that could be used for the liveness probe. You could use the `/metrics` endpoint. This endpoint is disabled by default (for the same reasons I mentioned above for IMDS mode operating w/ HostNetworking).

You can configure it with the following parameters in the helm chart (https://github.com/aws/aws-node-termination-handler/tree/main/config

[2020-12-29 18:42] bwagner5 commented on #309
I do agree that there should be a timeout on processing events so we don't get stuck forever on some unforeseen issue, even if we are now concurrently processing events (thanks to @universam1 in #317).

@universam1 is this happening often enough in your clusters where you'll notice if deploying #317 mitigates it? I still think it's valuable to add the timeout, since if it's happening during serial

[2021-01-05 18:39] diegosanchez opened #340 "How can we prevent from NTH to receive the events from different clusters?"
##### The context

We deploy NTH `v1.10` using the "Queue Processor" flavor. For this purpose we followed the instructions listed in the [README.md - AWS Node Termination Handler - Queue Processor \(requires AWS IAM Permissions\)](https://github.com/aws/aws-node-termination-handler#note-this-functionality-is-currently-in-beta) file.

Given that we have two clusters (staging and production) we crea

[2021-01-05 20:06] bwagner5 commented on #340
As of NTH v1.11.0 we support a configurable tag value on the ASG so that NTH will only take action on nodes that are managed by the ASG with the corresponding tag. The messages will still be consumed by both NTH installs, but after describing the ASG tags, NTH will not take action if the ASG is not tagged w/ the configured value.

The config is called `managedAsgTag` in the helm chart values: http

[2021-01-06 01:54] hoelzro commented on #273
@bwagner5 I'm interested in putting in the work to add this - did that config refactor work you mentioned already happen?  Also, how does specifying the effect (eg. `NoExecute`) via an environment variable `TAINT_EFFECT` sound to you?

[2021-01-06 17:33] bwagner5 commented on #310
released in https://github.com/aws/aws-node-termination-handler/releases/tag/v1.12.0

[2021-01-06 17:33] #310 closed

[2021-01-06 17:56] bwagner5 commented on #273
@hoelzro It would be great if you could work on this!   The configuration refactor has not happened yet... We broke out the configuration docs into common config, IMDS, and Queue-Processor sections which helps a bit, but in the code, it's all one giant config.

Adding the `TAINT_EFFECT` env var and corresponding `--taint-effect` flag sounds simple enough and would provide the necessary functionali

[2021-01-07 21:49] hoelzro commented on #273
@bwagner5 Thanks for the extra context! So if I just added `TAINT_EFFECT` and `--taint-effect` for now, that wouldn't impede the broader work you'd like to see in the future, right?

Also, I saw that the CLA was recently removed - how does contribution work with that in mind? Do I just need to confirm that licensing my commits' changes under Apache is ok?

[2021-01-07 23:34] bwagner5 commented on #273
Yep, `TAINT_EFFECT` and `--taint-effect` should be good 👍

Yes, there's a line in the PR template: "By submitting this pull request, I confirm that my contribution is made under the terms of the Apache 2.0 license."

[2021-01-10 01:10] dgr237 opened #344 "Add Functionality to trigger a drain and cordon by creating a custom resource"
I am interest in adding functionality to be able to trigger a drain and cordon via the creation of an instance of a custom resource: e.g. Have a CRD: drainrequests.k8s.aws which specifies the name of the node to drain and cordon along with a Grace Period in the spec. On the creation of the Custom Resource the NTH running on the specified node will trigger a drain and cordon (similar to how the SQS

[2021-01-11 21:58] bwagner5 commented on #344
I'm curious what use-case you'd like to solve for with this feature? It sounds like what you're suggesting would basically be proxying the functionality of the kubernetes eviction API. https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/

[2021-01-11 22:31] dgr237 commented on #344
We have a requirement that all nodes need to be terminated every 2 weeks. I
was looking to develop an operator which could on a schedule drain and
terminate nodes.

We currently have the NTH deployed as a daemonset in the clusters so was
thinking rather than duplicate the draining code have the scheduler create
CRs and then use the NTH Webhook to call back once the drain has completed.
This would

[2021-01-12 20:53] bwagner5 commented on #344
I'm very weary of NTH explicitly terminating nodes by itself. Up to this point, it is only handling the draining of nodes that are being terminated. I'm not sure if NTH should ever have the capability to cause the termination.

I'm curious if using the ASG "Max Instance Lifetime" feature would accomplish what you're looking to do without having to modify NTH at all. You can set a max lifetime for

[2021-01-12 22:21] dgr237 commented on #344
I was not proposing that the NTH would terminate the nodes... I would have a scheduler pod running outside which would resolve when the nodes need to be terminated -  this will not necessarily be based purely on the length of time the instance has been running... eg. It may determine to terminate a node at a 'quiet time'. The idea is this scheduler would create the drain request CR. This would be

[2021-01-12 22:57] bwagner5 commented on #344
Ok, I see.  Are the nodes running in ASG? If so, NTH in queue-processor mode can be setup to drain based on ASG termination hooks. You could then simplify the interaction with NTH and just call ASG's terminate instance API (https://docs.aws.amazon.com/cli/latest/reference/autoscaling/terminate-instance-in-auto-scaling-group.html).

Example:

- Your Scheduler Pod decides to terminate node1
- Schedu

[2021-01-12 23:36] dgr237 commented on #344
Yes did consider this approach... but probably the final piece in the puzzle is to have the scheduler check if all pods are scheduled before terminating the node and if they are not to wait for the cluster autoscaler to scale up a node and then to terminate the instance in the asg with the 'should-decrement-desired-capacity' set so that the asg is scaled back down.

[2021-01-13 19:22] gabegorelick commented on #141
Is this still applicable now that queue processor mode is a thing?

[2021-01-13 19:41] gabegorelick opened #346 "Queue process docs don't describe non-Helm config"
The docs for setting up NTH in queue processor mode don't make it clear that patches must be applied to the YAML to set queue URL and enableSqsTerminationDraining. You have to read the Helm section further down to realize that these settings must be applied, and then figure out where in the manifests those changes should be made.

![image](https://user-images.githubusercontent.com/610129/104500294

[2021-01-13 21:47] gabegorelick opened #347 "checkASGTagBeforeDraining ignores instances that don't belong to any ASG"
When `checkASGTagBeforeDraining` is enabled (the default), NTH's queue processor will ignore events for instances that don't belong to an ASG with the configured tag. However, it also appears [1] to ignore events for instances that don't belong to *any* ASG.

Obviously, ASG lifecycle event handling isn't relevant if an instance doesn't belong to an ASG. But spot termination event handling is. Furt

[2021-01-13 22:45] gabegorelick opened #348 "Docs claim podTerminationGracePeriod default is 30 but it's actually -1"
https://github.com/aws/aws-node-termination-handler/tree/e0260bd31fc6267fb04b32a0adf920983c436644/config/helm/aws-node-termination-handler has the following:
![image](https://user-images.githubusercontent.com/610129/104519029-c01ddc00-55c6-11eb-91e3-6a01eb7c968d.png)

But looking at the code, the default is actually -1:
https://github.com/aws/aws-node-termination-handler/blob/d8460d24b2f06b1b7ce6f

[2021-01-14 16:58] gabegorelick opened #349 "Docs incorrectly say deleteLocalData defaults to false"
Helm documentation says `deleteLocalData` defaults to `false`:
![image](https://user-images.githubusercontent.com/610129/104622514-5c93bd00-565f-11eb-9e27-4a64dacb6ade.png)

But in the code, it looks like it defaults to `true`:
https://github.com/aws/aws-node-termination-handler/blob/d8460d24b2f06b1b7ce6f8f108e8adc9dbd725a0/pkg/config/config.go#L140

Furthermore, https://github.com/aws/aws-node-te

[2021-01-14 20:34] bwagner5 commented on #349
ah yes, you are right the helm docs are incorrect. Would you like to open a PR to change it to true ?

[2021-01-14 20:39] bwagner5 commented on #348
that's a fair point. Maybe changing that column to -1 and then adding a note that kubernetes defaults to 30 seconds?

Would you care to open a PR for that change too?

[2021-01-14 20:42] gabegorelick commented on #349
@bwagner5 https://github.com/aws/aws-node-termination-handler/pull/350

[2021-01-14 20:47] #349 closed

[2021-01-14 20:58] #348 closed

[2021-01-14 21:10] bwagner5 commented on #347
I'm not opposed to using the instance tag rather than the ASG tag and changing those parameters. It doesn't change too much on the user's side for configuring it since they can just propagate the ASG tag to the instances.

As far the detach workflow for spot, I think the best approach today is to use ASGs support for ec2 instance rebalance recommendations. EC2 will send a EventBridge event when a

[2021-01-14 21:14] bwagner5 commented on #346
that's a good point.  Are you planning on consuming NTH from the manifest files in the release assets?
If so, what transform tool are you using?  We used to have instructions for kustomize, maybe it's time to bring that back for this configuration.

Most people are consuming NTH w/ helm.

[2021-01-14 21:33] gabegorelick commented on #347
Checking instance tags would also enable NTH to only manage a subset of instances in an ASG. I don't have a good use case for this, but it's certainly more general than only checking the ASG tags.

I haven't used AWS's capacity rebalance feature yet, but my understanding is that it can hang indefinitely if no spot instances can be allocated:

Depending on how worried you are about that, I think th

[2021-01-14 21:45] gabegorelick commented on #346
Yep.

It's complicated. 😄 It's a mix of kustomize and custom templating to fill in the gaps.

Since `kubectl apply -k` has become somewhat of a standard, I think it makes sense to document that.

You may want to consider making helm the preferred method of installation in the docs (moving it above `kubectl apply`, maybe adding a sentence about how it's most commonly used). Especially since all the

[2021-01-14 23:39] gabegorelick opened #352 "Move pods to other nodes"
In Kubernetes, draining a node can get stuck due to pod disruption budgets. When this happens, the only way to resolve it is to "surge" a deployment, i.e. add extra pods on uncordoned nodes. In an ideal world, Kubernetes would do this for you, but it doesn't due to https://github.com/kubernetes/kubernetes/issues/66811.

Barring Kubernetes implementing this natively, it would be nice if NTH had a s

[2021-01-15 15:53] diegosanchez commented on #340
@bwagner5 We implemented the suggested solution successfully. Thanks for the advice about rate limit,  as well.

[2021-01-15 15:53] #340 closed

[2021-01-15 21:32] gabegorelick opened #353 "High Availability for queue processor mode"
The deployment for queue processor mode only has a single replica, and it's not configurable via Helm.

https://github.com/aws/aws-node-termination-handler/blob/23b97f40987f52a28d533bd7bba7a391d46e7e3b/config/helm/aws-node-termination-handler/templates/deployment.yaml#L10

Is running more replicas possible, or will they conflict?

[2021-01-15 22:02] gabegorelick commented on #353
Thinking about this more, for ASG lifecycle hooks I think the lack of HA is mitigated by the fact that the ASG will wait for `HeartbeatTimeout` seconds before proceeding. So as long as Kubernetes reschedules the pod before then, you should be fine.

But spot instance termination notifications are more time sensitive, so perhaps there's more of a need for HA there?

[2021-01-19 16:25] bwagner5 commented on #353
Multiple replicas should at least be configurable.  The reason it is 1 right now (it used to be 2), is because of https://github.com/aws/aws-node-termination-handler/issues/297. Duplicate webhooks are more difficult to handle on separate replicas. For example when a Spot ITN is triggered, you'll get the Spot ITN webhook, the ASG termination webhook, and the EC2 instance status change webhook.

The

[2021-01-19 17:56] bwagner5 commented on #297
When commenting on #353 I realized I forgot to write down some thoughts on mitigating this:

First, we could dedupe locally within the event store. If an event comes into the event store acting on a node that has already been successfully drained within a 10 minute time period, the event store could immediately mark it as completed. This would only help within a single replica deployment of NTH.

[2021-01-21 06:34] wiseelf opened #354 "How to handle EC2 termination via console?"
Hello!
I'm trying to setup aws-node-termination-handler in Queue Processor mode. I followed the instruction and aws-node-termination-handler gracefully handles ASG events, spot instances events, but when I shutdown instances via AWS console/API instance is being terminated and aws-node-termination-handler doesn't even send an alert.

What else I need to configure to allow aws-node-termination-hand

[2021-01-21 07:42] wiseelf commented on #354
I got the idea and created an additional bridge event for that:
`aws events put-rule --name MyEc2ChangeStateRule --event-pattern "{\"source\": [\"aws.ec2\"],\"detail-type\": [\"EC2 Instance State-change Notification\"]}"`
The question now is how to delay termination of the instance so all pods have time to exit gracefully? Is there any lifehack? :)

[2021-01-22 22:48] bwagner5 commented on #354
After you created the EventBridge rule, are you getting notified now (assuming you've configured webhooks on NTH)?
If not, could you post the NTH logs for the time period of your test?

When you terminate an EC2 instance, it should trigger a graceful operating system shutdown which will send a SIGTERM to the kubelet which will in-turn start shutting down pods by propagating that SIGTERM to the con

[2021-01-22 23:08] bwagner5 commented on #352
This seems interesting and I think does fall into NTH's wheelhouse. I briefly read the discussion in kubernetes/kubernetes#66811 .

I think the cordon + rolling restart of the deployment would be do-able as a configuration option.  Although it seems a little intrusive that others pods that are on different nodes also get restarted...

The maxSurge does sound more complicated and a little awkward f

[2021-01-27 09:02] yzargari opened #355 "Queue processor completing ASG lifecycle hook before pods finished terminating"
Hello,

I have a use-case for pods that take long time to terminate gracefully (termination grace period of 60s).
When an instance is set to terminate, ASG triggers the hook, cloudwatch event is sent to SNS and NTH captures that event and starts evicting pods. Immediately after, it will go to complete the ASG Lifecycle Hook - causing the instance termination to kick in.

I think NTH should wait to

[2021-01-27 19:55] bwagner5 commented on #355
hmmm, I've looked through the drain path, and it looks like everything is correct within NTH.  I assume the pods that take a while to shutdown catch the SIGTERM for proper shutdown?

NTH drain node: https://github.com/aws/aws-node-termination-handler/blob/main/pkg/node/node.go#L108

Drain Helper Struct: https://github.com/kubernetes/kubectl/blob/3ff1afe4e818c989148434ee06713519186bab16/pkg/drain/d

[2021-01-28 10:39] foriequal0 opened #356 "Support ASG to SQS"
It seems that ASG LifecycleHook can directly send events to SQS: (See NotificationTargetARN https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_LifecycleHook.html)

Is there any special reason to use EventBridge?

[2021-01-28 20:34] bwagner5 commented on #356
Good point!  Unfortunately, the current implementation does not support the payload body of ASG sending it directly, since it's different from EventBridge.  I think it would be an excellent feature to support though.

[code]

[2021-01-29 12:43] adrianmiron opened #357 "List of available fields for webhookTemplate"

[2021-01-29 12:45] adrianmiron commented on #357
Hi,

I am interested in getting a list of available variables i can reference in the webhookTemplate. Is there a list somewhere ? I would mostly want the ASG  name/tags/info/etc .

Right now the documentation shows 👍
{"text":"[NTH][Instance Interruption] EventID: {{ .EventID }} - Kind: {{ .Kind }} - Instance: {{ .InstanceID }} - Description: {{ .Description }} - Start Time: {{ .StartTime }}"}

Loo

[2021-01-29 16:40] bwagner5 commented on #357
Currently, ASG name and tags are not available to be used in the webhook template. There's another issue out to add node labels to the webhook template as well https://github.com/aws/aws-node-termination-handler/issues/265.  I don't think it would take that much work to add these.

The current fields you can use are:

https://github.com/aws/aws-node-termination-handler/blob/23b97f40987f52a28d533bd

[2021-01-29 16:52] adrianmiron commented on #357
Thanks for the reply, looking forward to the new fields :)

[2021-02-01 06:41] yzargari commented on #355
Hi @bwagner5,
Thanks for looking into this. The pods do go into Terminating state, so I assume they catch the SIGTERM.

I don't know if this could be related, but I think most of our pods are running a start script which in turn starts the actual application. I suspect the start script is capturing the SIGTERM and not forwarding it to the child process.
Do you think this could have an impact on NT

[2021-02-01 15:27] bwagner5 commented on #355
Going into a Terminating state doesn't mean that the pods are catching SIGTERM properly. In order to delay a pod's shutdown, you'll actually want the processes to ignore SIGTERM (or at least see that it's happening and go into a shutdown function). If there isn't special SIGTERM handling, the containers in the pod will just shutdown immediately.

Alternatively, you might be using a preStop hook wh

[2021-02-03 04:00] azenk commented on #355
We may be seeing a similar issue.  The pod listed below is catching SIGTERM (using lightship) and outputting the appropriate log messages indicating that the shutdown handler is being processed.  However, the shutdown handler never finishes.

Regardless of the node being terminated, I see a 'Node successfully cordoned and drained' message almost immediately after the last pod logs as evicting.  In

[2021-02-04 01:01] franz101 opened #358 "Is there a way to delete drained nodes from the cluster completely after a period of time?"
Whats the best practice here, would you recommend to set up the new spot instance with the same hostname?

[2021-02-05 12:11] atul-chegg opened #359 "is it possible to get list of pod names running on node after node cordoning in webhook notification?"
Use case:
We are running build jobs. Each job runs in a pod. We want to know name of pods those are going to be terminated because of any unscheduled node event so that we can restart those jobs.

[2021-02-05 17:16] bwagner5 commented on #358
It's not necessary to setup a replacement spot instance with the same hostname. K8s will schedule pods to the new node once it's available. But since the pods have already been drained, they'll likely be scheduled on other nodes already, unless you're running the cluster with very little headroom.

As far as deleting drained nodes from the cluster after a period of time, there's currently not a wa

[2021-02-05 17:19] bwagner5 commented on #359
NTH does log the pods that were evicted, but I assume you mean via the webhook?

Here's an example in NTH's logs where it says that it ignores the daemonsets and evicts individual pods"
https://github.com/aws/aws-node-termination-handler/runs/1704669803#step:4:382

[2021-02-05 19:06] atulatri commented on #359
Yes. We want names of all the evicted pods in our slack message. Is this already possible?

[2021-02-05 19:14] bwagner5 commented on #359
Unfortunately, that is not possible currently.

[2021-02-05 22:36] franz101 commented on #358
Thanks for your quick reply. I just recently started setting up my cluster. and I haven't set the host name on the instance. So it gets set up automatically and uses the internal ip. There is no reason why no to set a fixed hostname.

Thanks for your curiosity.
I discovered aws-node-termination-handler afterwards I starting setting up the following structure:
As a prototype I have set up a spot in

[2021-02-08 18:45] bwagner5 commented on #273
Hey @hoelzro, just wanted to check in and see if you were still planning on contributing the taint-effect?

[2021-02-08 18:46] bwagner5 commented on #316
Linking taint-effect issue, since I think that would mitigate this: https://github.com/aws/aws-node-termination-handler/issues/273

[2021-02-08 19:16] sarahhodne commented on #316
I'm not sure it would really do what we need. The problem is that draining instances from an ELBv2 load balancer is quite slow (usually 4-5 minutes in our experience), and, at least for our nodes, draining the containers is much, much faster.

lifecycle-manager is nice because it polls to make sure the instance is removed from the load balancer before it continues. If I'm reading the taint-effect

[2021-02-08 22:44] hoelzro commented on #273
Hi @bwagner5! It's still on my list - other stuff just came up and knocked it onto my backburner!

[2021-02-10 07:27] vermaabhay commented on #359
+1
This will be something very meaningful and helpful.

[2021-02-10 22:00] azenk opened #360 "SQS messages deleted without being processed"
When several nodes are being terminated at once, we've observed that some of the messages are deleted from the queue without being processed.

This seems to be due to NTH retrieving [up to two messages from SQS](https://github.com/aws/aws-node-termination-handler/blob/23b97f40987f52a28d533bd7bba7a391d46e7e3b/pkg/monitor/sqsevent/sqs-monitor.go#L143), [only processing the first](https://github.com/

[2021-02-11 10:14] tyrken opened #361 "Node on "degraded hardware" not evacuated & terminated ASAP"
I took advantage of the rare incidence of a scheduled event on a node in our test EKS cluster to update to the latest NTH (1.12.0 via latest helm chart), running in IMDS mode still.  Unfortunately it didn't start draining, despite getting the below notice I was able to capture manually:

[code]

helm settings (set via helmfile but I suspect you understand):
[code]

deamonset pod logs:
[code]

I ha

[2021-02-11 11:03] tyrken commented on #361
Having read through the code a bit more, is it actually intended behaviour to do nothing until the "NotBefore" time?  Our SOP is to drain such nodes at earliest convenience & replace - it's a spot node, we expect interruptions.  The AWS email warning seems to suggest this is the correct action:

At very least the repeated parsing error messages (however they are being created) are a distraction th

[2021-02-11 15:57] haugenj commented on #361
Yes, this is following the intended behavior - we wait until the start time minus the grace period to actually take action. So typically we'll start the drain 2 minutes before the start time. I still think this makes sense for most scheduled events, but certainly for degraded hardware it seems better to drain immediately.

I'm surprised by the repeated logging for the end time error, I thought we

[2021-02-11 16:28] tyrken commented on #361
Thanks, I've updated the title to better match the actual issue, as I certainly would like an option (if not the default/only functionality) to begin draining and termination as soon as the notice is processed.  The current scheduled event functionality doesn't match this use case - TBH I'm not really sure of any other event that I would want to wait for, given the option exists to move workloads

[2021-02-11 19:06] jillmon commented on #102
We have reviewed this issue and determined that we want to keep this project focused on Kubernetes. Thank you for your suggestion.

[2021-02-11 19:06] #102 closed

[2021-02-11 19:14] #224 closed

[2021-02-11 19:25] jillmon commented on #309
As follow up on this issue we need to add a timeout for processing events.

[2021-02-11 19:28] jillmon commented on #315
This issue should be addressed with PR for https://github.com/aws/aws-node-termination-handler/issues/361

[2021-02-11 19:28] #315 closed

[2021-02-11 19:38] #354 closed

[2021-02-11 19:42] #358 closed

[2021-02-12 09:37] patstrom commented on #356
Is it only the data format that differs? Or are the other architectural concerns?

I am looking to deploy this project in the queue-processor mode and it would be nice to do it with as little complexity as possible. If EventBridge isn't strictly necessary I would prefer to not utilize (and pay for) it. Depending on how big of a patch this would require I could give it a go.

[2021-02-12 20:05] bwagner5 commented on #141
It is now possible natively within EC2 AutoScaling Groups to proactively launch a new instance when a spot instance receives an interruption termination notification (ITN).

You can enable `--capacity-rebalance` on the ASG which tells the ASG to monitor for rebalance events (which could occur before an ITN) so that you can proactively replace spot instances that may be interrupted soon, and have m

[2021-02-12 20:07] bwagner5 commented on #141
Feel free to reopen if you think this is still an issue.

[2021-02-12 20:07] #141 closed

[2021-02-12 23:34] haugenj commented on #360
This is a good callout. The easy fix would be to change the request to accept a max of 1 message, but I think we should go the extra mile and parse them into multiple events similar to how we're doing in scheduled-event-monitor.go.

@azenk are you interested in picking this up? Otherwise I can take it on sometime next week

[2021-02-15 14:20] mvisonneau opened #365 "Missing permission in the managed podSecurityPolicy to authorize the pod to bind port 9092 in hostNetwork mode"
When attempting to use `enablePrometheusServer: true` in conjunction with `rbac.pspEnabled: true` and `useHostNetwork: true`. It looks like there is some missing parameter in the PodSecurityPolicy to authorize the pod to bind `TCP/9092`.

[code]

[2021-02-16 04:13] foriequal0 commented on #356
It seems that EventBridge exists to funnel all events in the account into a single global queue channel.
ASG to SQS only sends two kind of events: `autoscaling:EC2_INSTANCE_LAUNCHING`, `autoscaling:EC2_INSTANCE_TERMINATING`. No Spot ITN, no scheduled events, no rebalance recommendation with ASG to SQS alone, and it seems that there is no way to listen EC2 status changes.
To use it alone without Ev

[2021-02-17 19:32] ichasco-heytrade opened #367 "panic: No instance found with instance-id"
Hi, I have configured NTH with SQS and I am getting errors when a spot instance is released. It still detecting it in SQS (I think) and giving errors because now it doesn't exists.

[code]

 Version of NTH: `v1.12.0`

Configuration:

[code]

Thanks!

[2021-02-17 21:07] haugenj commented on #367
Error is created here when calling DescribeInstances https://github.com/aws/aws-node-termination-handler/blob/fbc3f703574dd024de0af159d23de3ca7f2a6adc/pkg/monitor/sqsevent/sqs-monitor.go#L181-L183

If there are no instances returned by DescribeInstances, we should probably just delete the SQS message and not error. It seems like that's our intention based on this piece https://github.com/aws/aws-n

[2021-02-17 21:10] haugenj commented on #367
@ichasco-heytrade out of curiosity, did NTH cordon and drain this node at all? Can you look at the logs and see if there is anything else related to that node. I am wondering if NTH somehow drained this node already but failed to delete the SQS message, or if there were multiple SQS messages for this node.

Either way, the node name code will need to be corrected

[2021-02-17 21:17] #346 closed

[2021-02-17 22:25] haugenj commented on #365
How did you install NTH? I've just tried reproducing this on a cluster of mine and haven't had any errors.

If you edit the pod security policy and add the following is there any difference?
[code]

If that fixes your issue we can change the yaml template

[2021-02-18 08:15] dongheeJeong opened #368 "Feature request: Drain on Rebalance Recommendation Notification"
Spot interruption termination Notification occurs in two minutes before instance termination. Two minutes may not sufficient time to drain node on some circumstance. (e.g. When new worker node creation needed when all existing worker nodes are too busy to accept pods).

If option to drain on Rebalance Recommendation Notification(which arrives sooner than interruption termination Notification) prov

[2021-02-18 09:55] mvisonneau commented on #365
👋 hey @haugenj, absolutely this is exactly what I did and it sorts the issue out 👍

I can submit a PR with the change if you want me to, I just did not take the time to do it sorry about that! 😅

[2021-02-18 16:35] haugenj commented on #365
Yeah if you could write it that'd be awesome! If you can use Mustache to dynamically get the value of the Prometheus port and only include it if Prometheus is enabled I think that would be best. Thanks!

[2021-02-18 18:08] haugenj commented on #368
We have vague plans of doing a refactor at some point to allow for better customization for any event type, this would help in other cases too such as #361 for scheduled events. But for now draining on a rebalance recommendation is not something we plan on supporting in a configuration option.

I'm not sure I understand your situation, do you mean the node is unable to completely drain within two

[2021-02-18 20:03] #360 closed

[2021-02-22 01:12] dongheeJeong commented on #368
I use [Cluster Autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) which add new worker node when there are pods that failed to run in the cluster due to insufficient resources. When drain needed and if there are insufficient resources in cluster for moving pods, new Worker node would provisioned (by Cluster Autoscaler) **before starting drain**. So, it takes time

[2021-02-24 18:33] LijieZhou opened #373 "Pod get AccessDenied error"
First time install the termination handler on EKS (1.16). Followed the instruction of Queue Processor Mode. After launching, the pod gets permissiondenied error:

[code]

I did create the IAM role and attached the recommended policy. We are already using the service account, so I annotated the service account with the IAM role I created by doing this:

[code]

I also described the pod and verified

[2021-02-25 16:55] risinger opened #374 "Metric counters don't report 0 to Prometheus"
NTH does not report 0 when a metric has not been observed during runtime. Prometheus expects counters to report 0 when they are 0. If they are simply not reported, `rate` will report 0 when the metric is first reported, no matter the value. Because the first value is an observation, any alerting or visualization in Prometheus will either miss all errors/actions in the first scrape that has that me

[2021-02-25 18:19] LijieZhou commented on #373
The problem is solved. The issue was not using the right AWS IAM role. When creating the IAM role to associate with the service account, the right type of IAM role should be chosen. Close the issue since it is not a termination-handler related issue.

[2021-02-25 18:19] #373 closed

[2021-02-25 18:49] jillmon commented on #352
After reviewing the scope of work required to complete this enhancement, we have decided that the effort is too large for us to prioritize at this time. Thank you for your suggestion, and if this a pain point that continues to hinder your productivity please let us know.

[2021-02-25 18:49] #352 closed

[2021-02-26 23:33] LijieZhou commented on #367
I am having the same problem. I do not see any other logs but these

[code]

If I search in the history of the ASG activities, I do not see these instances at all. Do you have any other ideas on how to debug this?

[2021-03-01 18:57] LijieZhou commented on #367
@haugenj Thanks for the tip. I am able to see the instance in CloudTrail history. I deployed the termination handler on one K8s cluster expecting to see the termination notification from the cluster I deployed to. However, these error messages are from instances that are not associated with this cluster.

I see the IAM policy is given a `*` for several autoscaling actions. Should I reduce the reso

[2021-03-01 20:28] haugenj commented on #367
@LijieZhou Totally agree with you that the already terminated instances should be handled without errroring, #375 should fix that 🤞

You could, but I don't think that'll make a difference because NTH is acting on the messages present in the SQS queue and that's not affected by the IAM permissions here. The real issue is that the eventbridge rule is scoped to any ASG event. You can edit the Eventbr

[2021-03-02 15:29] haugenj commented on #374
From reading around, it looks like ideally we would initialize these metrics at the beginning when we set up the metrics server. We can do that for the error metrics, but the node metrics are trickier because they use labels with the node name which we don't know ahead of time.

Perhaps we can init the error metrics early, and for the node metrics do a lookup to see if they're initialized before t

[2021-03-02 18:22] LijieZhou commented on #367
@haugenj I can confirm that the error log messages stopped after I redeployed the NTH with #375 🎉

Thanks for clarifying that it is the eventBridge rule instead of the IAM rule. I think it is less of an issue since I am not getting the error logs from the instances that are not on the cluster I deployed.

[2021-03-02 19:15] #367 closed

[2021-03-02 19:16] #365 closed

[2021-03-02 23:26] Angoll opened #380 "Multicluster account with multiple ASGs handle request"
When you have an account with multiple clusters each cluster will have different ASGs associated to it. That means if the NTH will receive events for nodes that don't belong to the cluster. It would be great to have a way to also check if managed by an EKS cluster and is that cluster.

Example scenario:
 - EKS ClusterA  with ASG_A_1, ASG_A_2   and SQS_A
 - EKS ClusterB  with ASG_B_1, ASG_B_2   and

[2021-03-02 23:36] Angoll commented on #380
Added a pull request with the implementation changes proposed:
https://github.com/aws/aws-node-termination-handler/pull/381

Thanks

[2021-03-03 00:26] bwagner5 commented on #380
I'm not sure matching on the tag value is necessary, why not configure the tag key to be unique per cluster?

[2021-03-03 08:28] Angoll commented on #380
You are right, it's not necessary. I'm not sure why I was focused that the value should be used. Closing the pull request.
Thanks for your time

[2021-03-03 08:28] #380 closed

[2021-03-07 18:10] opalmer commented on #368
@haugenj, would you be open to an MR to add this or would you consider supporting this feature?

Right now, based on what I've observed in a couple of clusters, when using the spot termination handler to handle rebalancing notifications the handler picks up the event and cordons the node. It does not drain the node to remove pods. In this scenario the next thing the ASG does is launch a new instan

[2021-03-09 06:00] LijieZhou opened #383 "How to reduce the EventBridge rule on specific ASG"
We deployed the NTH (Queue Processor) on multiple EKS clusters in our production environment and we started to see API request rate limiting shortly after the deployment. We have only one ASG in the cluster and I want to reduce the EventBridge rule to check the hosts in its own cluster. There are three eventBridge rules but there is only one on the ASG itself and the other two are on the EC2 insta

[2021-03-09 22:51] haugenj commented on #368
👋 @opalmer

Thanks for your patience, I wanted to talk to the team about this before getting back to you. I think it'll take us a bit longer to settle on our approach, so in the meantime you can go ahead and add an option for draining on a rebalance recommendation event. If you need any help with it just open a draft pr and I'll help out. Thanks!

[2021-03-09 23:30] #357 closed

[2021-03-10 03:18] lkusnadi opened #385 "ASG tag checking cannot be turned off in DeamonSet"
Found in helm.sh/chart: aws-node-termination-handler-0.14.1
ASG tag checking cannot be disabled when aws-node-termination-handler is deployed as daemonset.
Seems this feature is designed for Queue processor, not IMDS.
Thank you.

[2021-03-10 14:08] bwagner5 commented on #385
Yes, that is correct. ASG tag checking can only be used with Queue Processor mode, not in IMDS mode.   There is one helm chart to make the switch between the modes as easy as possible. The config options are broken out into separate tables for the different modes starting here: https://github.com/aws/aws-node-termination-handler/tree/a25165b6d1fe3e4b6541db1d565bc9ec83cbf263/config/helm/aws-node-te

[2021-03-10 15:28] #265 closed

[2021-03-10 21:35] lkusnadi commented on #385
@bwagner5 Thanks for your response.
From looking at the helm chart, it looks like IMDS uses daemonset kind and Queue processor uses deployment kind.
When I'm using daemonset (IMDS), the pod running on the cluster shows as:

[code]

If I don't have the tag above in my ASG, does it mean NTH will not drain the pods when spot termination event happens under daemonset kind? Is there a reason why we can

[2021-03-10 22:06] bwagner5 commented on #385
No, when NTH is running in IMDS mode, then it will never check the ASG tag (it will never use any permissioned  AWS API calls).

[2021-03-10 22:13] lkusnadi commented on #385
Got it. Thanks @bwagner5

[2021-03-10 22:13] #385 closed

[2021-03-11 00:16] estahn commented on #321
This feature cordoned a large part of our cluster. Is there a rate limit on how many nodes are cordon in a certain timeframe (aka rate limit)?

[2021-03-11 00:22] estahn opened #386 "logLevel info should state the reason for cordoning"
The logs in info mode should state the reason for cordoning/termination.

[2021-03-11 14:59] mmingorance-dh commented on #357
I was wondering if it would be possible to add extra tags. We for example would like to set a tag to differentiate each requests from which Kubernetes cluster come from.
Would be possible to maybe add the instance tags?

[2021-03-11 16:34] imuqtadir commented on #357
@mmingorance-dh Currently, we are showing NodeLabels maybe you can use that? Regardless, feel free to open an issue or put out a PR for it.

[2021-03-12 09:15] mmingorance-dh commented on #357
@imuqtadir thanks for sharing! Does that attribute allow you show just one particular label?
Example: {{ .NodeLabels.MyLabelName }}

Also, I saw the latest release still doesn't have this attribute. When will the next release happen?

[2021-03-12 18:41] alanbrent commented on #355
I'm pretty sure we're experiencing the same issue reported here. If I `kubectl drain` a node with the same flags that we're configuring the NTH w/, lifecycle hooks on our Pod containers run correctly. If I tell the ASG to mark a node for termination, the lifecycle hooks start to run, but it appears that the NTH just merrily tells the ASG to finish terminating the node without waiting for the evict

[2021-03-13 01:00] bwagner5 commented on #355
Thanks for posting logs and detailed description @alanbrent ! We will look into this issue more deeply next week and will post back with an update.

[2021-03-16 03:50] #359 closed

[2021-03-18 04:43] james-callahan opened #390 "Queue mode: missing AWS_REGION attempts to lookup sqs.queue.amazonaws.com and fails"
If I don't set the `AWS_REGION` environment variable, then the server fails to start with:
[code]

This is despite the logs on startup showing me the correct `queue-url` (partially redacted):
[code]

I've worked around this for now by setting `AWS_PROFILE=us-west-2`, but I shouldn't have to.

[2021-03-18 21:20] imuqtadir commented on #357
@mmingorance-dh Yes, it does. You can refer to my PR which has some detailed examples of what you can use within webhook template related to NodeLabels. Here: https://github.com/aws/aws-node-termination-handler/pull/382

We are yet to release these changes. I'll try and get the release going in coming week.

[2021-03-23 19:53] imuqtadir commented on #355
I took a punt at this and I think I was able to reproduce the bug.

NTH Logs:
[code]

I had my custom shutdown hook on my driver pod which would wait for 20s to delay the eviction. However, it was abruptly evicted and did not gracefully terminate and ASG lifecycle hook marked complete. Sample logs (matching NTH log timing):
[code]
My guess is around the fixes done to [drain.go](https://github.com/

[2021-03-25 18:31] tomelliff commented on #333
@sliaptsou are you planning on raising that as a pull request back upstream?

[2021-03-25 18:36] sliaptsou commented on #333
@tomelliff what do you mean?

[2021-03-25 18:42] sliaptsou commented on #333
@bwagner5 Could you please review again?

[2021-03-25 22:35] imuqtadir commented on #355
I figured out the issue after much dive deep for an easy fix. I'll put out PR in few minutes.

[2021-03-25 22:43] imuqtadir commented on #355
I added more details to the PR. It was a permissions issue and pods were never really evicted successfully and were internally failing eviction. There weren't any logs within kubectl lib which made it worse to detect. You should be able to apply the fix with helm or update permissions. Thanks for bringing it to our notice.